In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Factors to consider
1. type of road
2. weather condition
3. alcholic consumption
3. type of location
4. type of location
5. type of junction (if it exists)
6. type of vehicle

In [2]:
# dict to store probabilities
Probs = dict()

In [3]:
class Bayesian_Probability:
    def __init__(self, d1, d2):
        self.prob_XA = d1
        self.prob_X  = d2

## Type of road

In [4]:
acc_by_road = pd.read_csv("accident-datasets/type-of-road/Acc_clf_acco_to_Road_Cond_2014_and_2016.csv")

In [5]:
acc_by_road.columns

Index(['S. No.', 'State/ UT', 'Surfaced Roads-Accident - 2014',
       'Surfaced Roads- Killed - 2014', 'Surfaced Roads-Injured - 2014',
       'Metalled Roads-Accident - 2014', 'Metalled Roads- Killed - 2014',
       'Metalled Roads-Injured - 2014', 'Kutcha Roads-Accident - 2014',
       'Kutcha Roads- Killed - 2014', 'Kutcha Roads-Injured - 2014',
       'Dry road-Accident - 2014', 'Dry road- Killed - 2014',
       'Dry road-Injured - 2014', 'Wet road-Accident - 2014',
       'Wet road- Killed - 2014', 'Wet road-Injured - 2014',
       'Good surface-Accident - 2014', 'Good surface- Killed - 2014',
       'Good surface-Injured - 2014', 'Loose Surface-Accident - 2014',
       'Loose Surface- Killed - 2014', 'Loose Surface-Injured - 2014',
       'Rutted/Pot holes-Accident - 2014', 'Rutted/Pot holes- Killed - 2014',
       'Rutted/Pot holes-Injured - 2014',
       'Road under repair/construction-Accident - 2014',
       'Road under repair/construction- Killed - 2014',
       'Road under repair/construction-Injured - 2014',
       'Corrugated/Wavy road-Accident - 2014',
       'Corrugated/Wavy road- Killed - 2014',
       'Corrugated/Wavy road-Injured - 2014',
       'Slippery surface-Accident - 2014', 'Slippery surface- Killed - 2014',
       'Slippery surface-Injured - 2014', 'Snowy-Accident - 2014',
       'Snowy- Killed - 2014', 'Snowy-Injured - 2014', 'Muddy-Accident - 2014',
       'Muddy- Killed - 2014', 'Muddy-Injured - 2014', 'Oily-Accident - 2014',
       'Oily- Killed - 2014', 'Oily-Injured - 2014',
       'Speed breaker-Accident - 2014', 'Speed breaker- Killed - 2014',
       'Speed breaker-Injured - 2014', 'Others-Accident - 2014',
       'Others- Killed - 2014', 'Others-Injured - 2014',
       'Straight Road-Accidents - 2014', 'Straight Road-Killed - 2014',
       'Straight Road-Injured - 2014', 'Slight Curve-Accidents - 2014',
       'Slight Curve-Killed - 2014', 'Slight Curve-Injured - 2014',
       'Sharp Curve-Accidents - 2014', 'Sharp Curve-Killed - 2014',
       'Sharp Curve-Injured - 2014', 'Flat Road-Accidents - 2014',
       'Flat Road-Killed - 2014', 'Flat Road-Injured - 2014',
       'Gentle Incline-Accidents - 2014', 'Gentle Incline-Killed - 2014',
       'Gentle Incline-Injured - 2014', 'Steep Incline-Accidents - 2014',
       'Steep Incline-Killed - 2014', 'Steep Incline-Injured - 2014',
       'Hump-Accidents - 2014', 'Hump-Killed - 2014', 'Hump-Injured - 2014',
       'Dip-Accidents - 2014', 'Dip-Killed - 2014', 'Dip-Injured - 2014',
       'Pucca road (Normal Road) - Number of Accidents - 2016',
       'Pucca road (Normal Road) - Persons Killed - 2016',
       'Pucca road (Normal Road) - Persons Injured - 2016',
       'Kutcha road (Normal Road) - Number of Accidents - 2016',
       'Kutcha road (Normal Road) - Persons Killed - 2016',
       'Kutcha road (Normal Road) - Persons Injured - 2016',
       'Pot Holes - Number of Accidents - 2016',
       'Pot Holes - Persons Killed - 2016',
       'Pot Holes - Persons Injured - 2016',
       'Speed Breakers - Number of Accidents - 2016',
       'Speed Breakers - Persons Killed - 2016',
       'Speed Breakers - Persons Injured - 2016',
       'Sharp Curve - Number of Accidents - 2016',
       'Sharp Curve - Persons Killed - 2016',
       'Sharp Curve - Persons Injured - 2016',
       'Steep Gradient - Number of Accidents - 2016',
       'Steep Gradient - Persons Killed - 2016',
       'Steep Gradient - Persons Injured - 2016',
       'Earthern Shoulder Edge Drop - Number of Accidents - 2016',
       'Earthern Shoulder Edge Drop - Persons Killed - 2016',
       'Earthern Shoulder Edge Drop - Persons Injured - 2016',
       'Others - Number of Accidents - 2016', 'Others - Persons Killed - 2016',
       'Others - Persons Injured - 2016'],
      dtype='object')

In [6]:
acc_by_road = acc_by_road.drop(labels=[c for c in acc_by_road.columns if '2014' in c], axis=1)

In [7]:
acc_by_road.columns

Index(['S. No.', 'State/ UT',
       'Pucca road (Normal Road) - Number of Accidents - 2016',
       'Pucca road (Normal Road) - Persons Killed - 2016',
       'Pucca road (Normal Road) - Persons Injured - 2016',
       'Kutcha road (Normal Road) - Number of Accidents - 2016',
       'Kutcha road (Normal Road) - Persons Killed - 2016',
       'Kutcha road (Normal Road) - Persons Injured - 2016',
       'Pot Holes - Number of Accidents - 2016',
       'Pot Holes - Persons Killed - 2016',
       'Pot Holes - Persons Injured - 2016',
       'Speed Breakers - Number of Accidents - 2016',
       'Speed Breakers - Persons Killed - 2016',
       'Speed Breakers - Persons Injured - 2016',
       'Sharp Curve - Number of Accidents - 2016',
       'Sharp Curve - Persons Killed - 2016',
       'Sharp Curve - Persons Injured - 2016',
       'Steep Gradient - Number of Accidents - 2016',
       'Steep Gradient - Persons Killed - 2016',
       'Steep Gradient - Persons Injured - 2016',
       'Earthern Shoulder Edge Drop - Number of Accidents - 2016',
       'Earthern Shoulder Edge Drop - Persons Killed - 2016',
       'Earthern Shoulder Edge Drop - Persons Injured - 2016',
       'Others - Number of Accidents - 2016', 'Others - Persons Killed - 2016',
       'Others - Persons Injured - 2016'],
      dtype='object')

In [8]:
types_of_road = pd.read_csv("accident-datasets/type-of-road/statewise_road_surfce.csv")

In [9]:
types_of_road.columns

Index(['States/UTs', 'Total (A+B)', 'Surfaced-Total (A)', 'Surfaced-W.B.M.',
       'Surfaced-B.T./C.C', 'Unsurfaced-Total (B)'],
      dtype='object')

In [10]:
types_of_road = types_of_road.rename(columns={
    'States/UTs':'State/ UT', 'Surfaced-Total (A)':'Surfaced',
    'Unsurfaced-Total (B)':'Unsurfaced', 'Total (A+B)':'Total'
})
types_of_road = types_of_road.drop(labels=['Surfaced-W.B.M.','Surfaced-B.T./C.C'], axis=1)
types_of_road.head()

           State/ UT  Total  Surfaced  Unsurfaced
0  Arunachal Pradesh   4574      3828         746
1              Assam    456       453           3
2            Gujarat    500       600         100
3   Himachal Pradesh    980       828         152
4  Jammu and Kashmir   7646      6507        1139

In [11]:
types_of_road['Surfaced'] = types_of_road['Surfaced']/types_of_road['Total']
types_of_road['Unsurfaced'] = types_of_road['Unsurfaced']/types_of_road['Total']
types_of_road = types_of_road.drop(labels='Total', axis=1)
types_of_road.head()

           State/ UT  Surfaced  Unsurfaced
0  Arunachal Pradesh  0.836904    0.163096
1              Assam  0.993421    0.006579
2            Gujarat  1.200000    0.200000
3   Himachal Pradesh  0.844898    0.155102
4  Jammu and Kashmir  0.851033    0.148967

In [12]:
types_map = {'Surfaced':['Pucca road', 'Speed Breakers', 
                         'Sharp Curve', 'Steep Gradient'],
            'Unsurfaced':['Kutcha road', 'Pot Holes', 
                          'Earthern Shoulder Edge Drop', 'Others']}

In [13]:
acc_by_road = acc_by_road.drop(labels=[c for c in acc_by_road.columns
                                       if 'Persons' in c], axis=1)
acc_by_road.columns

Index(['S. No.', 'State/ UT',
       'Pucca road (Normal Road) - Number of Accidents - 2016',
       'Kutcha road (Normal Road) - Number of Accidents - 2016',
       'Pot Holes - Number of Accidents - 2016',
       'Speed Breakers - Number of Accidents - 2016',
       'Sharp Curve - Number of Accidents - 2016',
       'Steep Gradient - Number of Accidents - 2016',
       'Earthern Shoulder Edge Drop - Number of Accidents - 2016',
       'Others - Number of Accidents - 2016'],
      dtype='object')

In [14]:
acc_by_road = acc_by_road.rename(columns={
    'Pucca road (Normal Road) - Number of Accidents - 2016':'Pucca road',
    'Kutcha road (Normal Road) - Number of Accidents - 2016':'Kutcha road',
    'Pot Holes - Number of Accidents - 2016':'Pot Holes',
    'Speed Breakers - Number of Accidents - 2016':'Speed Breakers',
    'Sharp Curve - Number of Accidents - 2016':'Sharp Curve',
    'Steep Gradient - Number of Accidents - 2016':'Steep Gradient',
    'Earthern Shoulder Edge Drop - Number of Accidents - 2016':'Earthern Shoulder Edge Drop',
    'Others - Number of Accidents - 2016':'Others'})
acc_by_road = acc_by_road.drop(labels='S. No.', axis=1)
acc_by_road.head()

,State/ UT,Pucca road,Kutcha road,Pot Holes,Speed Breakers,Sharp Curve,Steep Gradient,Earthern Shoulder Edge Drop,Others
0,Andhra Pradesh,16376,2787,280,579,816,144,255,3651
1,Arunachal Pradesh,120,33,0,9,43,0,0,44
2,Assam,4818,785,43,71,38,44,2,1634
3,Bihar,4454,940,200,358,702,117,123,1328
4,Chhattisgarh,9951,1650,28,166,169,109,8,1499

In [15]:
acc_by_road[[c for c in acc_by_road.columns if c != 'State/ UT']] = acc_by_road[[c for c in acc_by_road.columns 
                                                                                 if c != 'State/ UT']].astype(int)

In [16]:
acc_by_road

,State/ UT,Pucca road,Kutcha road,Pot Holes,Speed Breakers,Sharp Curve,Steep Gradient,Earthern Shoulder Edge Drop,Others
0,Andhra Pradesh,16376,2787,280,579,816,144,255,3651
1,Arunachal Pradesh,120,33,0,9,43,0,0,44
2,Assam,4818,785,43,71,38,44,2,1634
3,Bihar,4454,940,200,358,702,117,123,1328
4,Chhattisgarh,9951,1650,28,166,169,109,8,1499
5,Goa,4298,1,1,2,1,1,0,0
6,Gujarat,15654,2194,306,477,406,223,218,2381
7,Haryana,7570,1652,0,328,408,0,10,1266
8,Himachal Pradesh,2787,221,0,0,0,0,0,160
9,Jammu & Kashmir,2530,109,8,5,3,0,0,2846
10,Jharkhand,2071,573,200,350,395,238,233,872
11,Karnataka,26608,5361,185,668,1690,56,15,9820
12,Kerala,33088,225,536,107,2574,2446,243,201
13,Madhya Pradesh,38265,6708,609,712,643,276,450,6309
14,Maharashtra,27300,2751,1064,579,949,611,218,6406
15,Manipur,359,86,20,4,23,9,0,37
16,Meghalaya,74,11,0,56,15,0,0,464
17,Mizoram,76,1,1,0,0,1,0,4
18,Nagaland,37,0,0,0,38,0,0,0
19,Orissa,6101,1753,226,497,482,131,25,1317
20,Punjab,6516,25,22,92,215,0,0,82
21,Rajasthan,20913,541,282,227,137,11,0,955
22,Sikkim,63,56,0,0,31,33,27,0
23,Tamil Nadu,57983,8801,621,1208,1797,274,67,680
24,Telangana,14806,2404,4,240,430,1,1,4925
25,Tripura,478,9,0,38,15,6,0,11
26,Uttarakhand,1342,155,28,35,0,0,0,31
27,Uttar Pradesh,15302,3121,1436,2121,1826,1045,1770,8991
28,West Bengal,3298,1123,319,545,2180,11,289,5815
29,A & N Islands,173,0,5,4,45,11,0,0
30,Chandigarh,402,2,0,10,14,0,0,0
31,D & N Haveli,29,12,0,4,9,0,0,16
32,Daman & Diu,40,0,0,2,0,0,0,29
33,Delhi,6069,149,0,12,44,0,0,1101
34,Lakshadweep,1,0,0,0,0,0,0,0
35,Puducherry,1294,296,0,77,28,0,0,71
36,Total,331246,44535,6424,9583,16166,5798,3954,62946

In [17]:
acc_by_road['Total'] = acc_by_road[[c for c in acc_by_road.columns
                                      if c != 'State/ UT']].sum(axis=1)

In [18]:
acc_by_road.head()

,State/ UT,Pucca road,Kutcha road,Pot Holes,Speed Breakers,Sharp Curve,Steep Gradient,Earthern Shoulder Edge Drop,Others,Total
0,Andhra Pradesh,16376,2787,280,579,816,144,255,3651,24888
1,Arunachal Pradesh,120,33,0,9,43,0,0,44,249
2,Assam,4818,785,43,71,38,44,2,1634,7435
3,Bihar,4454,940,200,358,702,117,123,1328,8222
4,Chhattisgarh,9951,1650,28,166,169,109,8,1499,13580

In [19]:
acc_by_road['Surfaced'] = acc_by_road[types_map['Surfaced']].sum(axis=1)/acc_by_road['Total']
acc_by_road['Unsurfaced'] = acc_by_road[types_map['Unsurfaced']].sum(axis=1)/acc_by_road['Total']

In [20]:
acc_by_road = acc_by_road.drop(labels=[i for i in acc_by_road.columns 
                                       if i not in {'Unsurfaced', 'Surfaced', 'State/ UT'}],
                               axis=1)
acc_by_road.head()

           State/ UT  Surfaced  Unsurfaced
0     Andhra Pradesh  0.719825    0.280175
1  Arunachal Pradesh  0.690763    0.309237
2              Assam  0.668594    0.331406
3              Bihar  0.684870    0.315130
4       Chhattisgarh  0.765464    0.234536

In [21]:
d1 = {i[1][0].lower() : {'Surfaced' : i[1][1],
                 'Unsurfaced' : i[1][2]} for i in acc_by_road.iterrows()}
d1

{'andhra pradesh': {'Surfaced': 0.7198248151719704,
  'Unsurfaced': 0.28017518482802956},
 'arunachal pradesh': {'Surfaced': 0.6907630522088354,
  'Unsurfaced': 0.3092369477911647},
 'assam': {'Surfaced': 0.6685944855413585, 'Unsurfaced': 0.3314055144586416},
 'bihar': {'Surfaced': 0.684869861347604, 'Unsurfaced': 0.31513013865239603},
 'chhattisgarh': {'Surfaced': 0.7654639175257731,
  'Unsurfaced': 0.2345360824742268},
 'goa': {'Surfaced': 0.9995353159851301, 'Unsurfaced': 0.00046468401486988845},
 'gujarat': {'Surfaced': 0.766732238437257, 'Unsurfaced': 0.23326776156274304},
 'haryana': {'Surfaced': 0.7393626491009435,
  'Unsurfaced': 0.26063735089905643},
 'himachal pradesh': {'Surfaced': 0.8797348484848485,
  'Unsurfaced': 0.12026515151515152},
 'jammu & kashmir': {'Surfaced': 0.4613706598800218,
  'Unsurfaced': 0.5386293401199782},
 'jharkhand': {'Surfaced': 0.6192214111922141,
  'Unsurfaced': 0.38077858880778587},
 'karnataka': {'Surfaced': 0.653604486183366, 'Unsurfaced': 0.346395513816634},
 'kerala': {'Surfaced': 0.9694317605276509, 'Unsurfaced': 0.03056823947234906},
 'madhya pradesh': {'Surfaced': 0.7391981027199288,
  'Unsurfaced': 0.26080189728007114},
 'maharashtra': {'Surfaced': 0.7382265911028637,
  'Unsurfaced': 0.26177340889713624},
 'manipur': {'Surfaced': 0.7342007434944238,
  'Unsurfaced': 0.26579925650557623},
 'meghalaya': {'Surfaced': 0.23387096774193547,
  'Unsurfaced': 0.7661290322580645},
 'mizoram': {'Surfaced': 0.927710843373494, 'Unsurfaced': 0.07228915662650602},
 'nagaland': {'Surfaced': 1.0, 'Unsurfaced': 0.0},
 'orissa': {'Surfaced': 0.6846752753513103, 'Unsurfaced': 0.3153247246486897},
 'punjab': {'Surfaced': 0.9814441887226697,
  'Unsurfaced': 0.018555811277330265},
 'rajasthan': {'Surfaced': 0.9229168473077256,
  'Unsurfaced': 0.07708315269227434},
 'sikkim': {'Surfaced': 0.6047619047619047, 'Unsurfaced': 0.3952380952380952},
 'tamil nadu': {'Surfaced': 0.8576388402794305,
  'Unsurfaced': 0.1423611597205695},
 'telangana': {'Surfaced': 0.6784884485555215,
  'Unsurfaced': 0.3215115514444785},
 'tripura': {'Surfaced': 0.9640933572710951,
  'Unsurfaced': 0.03590664272890485},
 'uttarakhand': {'Surfaced': 0.8654934003771213,
  'Unsurfaced': 0.1345065996228787},
 'uttar pradesh': {'Surfaced': 0.5698640907559249,
  'Unsurfaced': 0.430135909244075},
 'west bengal': {'Surfaced': 0.44432989690721647,
  'Unsurfaced': 0.5556701030927835},
 'a & n islands': {'Surfaced': 0.9789915966386554,
  'Unsurfaced': 0.02100840336134454},
 'chandigarh': {'Surfaced': 0.9953271028037384,
  'Unsurfaced': 0.004672897196261682},
 'd & n haveli': {'Surfaced': 0.6, 'Unsurfaced': 0.4},
 'daman & diu': {'Surfaced': 0.5915492957746479,
  'Unsurfaced': 0.4084507042253521},
 'delhi': {'Surfaced': 0.8305084745762712, 'Unsurfaced': 0.1694915254237288},
 'lakshadweep': {'Surfaced': 1.0, 'Unsurfaced': 0.0},
 'puducherry': {'Surfaced': 0.7921857304643262,
  'Unsurfaced': 0.20781426953567383},
 'total': {'Surfaced': 0.7547934888443198, 'Unsurfaced': 0.2452065111556802}}

In [22]:
d2 = {i[1][0].lower() : {'Surfaced' : i[1][1],
                 'Unsurfaced' : i[1][2]} for i in types_of_road.iterrows()}
d2

{'arunachal pradesh': {'Surfaced': 0.8369042413642326,
  'Unsurfaced': 0.1630957586357674},
 'assam': {'Surfaced': 0.993421052631579, 'Unsurfaced': 0.006578947368421052},
 'gujarat': {'Surfaced': 1.2, 'Unsurfaced': 0.2},
 'himachal pradesh': {'Surfaced': 0.8448979591836735,
  'Unsurfaced': 0.15510204081632653},
 'jammu and kashmir': {'Surfaced': 0.8510332199843055,
  'Unsurfaced': 0.1489667800156945},
 'manipur': {'Surfaced': 0.8794503435352904,
  'Unsurfaced': 0.12054965646470955},
 'mizoram': {'Surfaced': 0.7468958930276982, 'Unsurfaced': 0.2531041069723018},
 'nagaland': {'Surfaced': 0.7951273532668881,
  'Unsurfaced': 0.20487264673311184},
 'punjab': {'Surfaced': 1.0, 'Unsurfaced': 0.0},
 'rajasthan': {'Surfaced': 0.981128074639525,
  'Unsurfaced': 0.018871925360474977},
 'sikkim': {'Surfaced': 0.9636363636363636, 'Unsurfaced': 0.03636363636363636},
 'tripura': {'Surfaced': 0.8147410358565738, 'Unsurfaced': 0.1852589641434263},
 'uttarakhand': {'Surfaced': 0.7913760304375397,
  'Unsurfaced': 0.20862396956246038},
 'west bengal': {'Surfaced': 0.696, 'Unsurfaced': 0.304},
 'andaman and nicobar islands': {'Surfaced': 0.16666666666666666,
  'Unsurfaced': 0.8333333333333334},
 'total': {'Surfaced': 0.8718768502072232, 'Unsurfaced': 0.12812314979277678}}

In [23]:
Probs['Type of Road'] = Bayesian_Probability(d1, d2)

## Due to Alcohol

In [24]:
acc_by_drinking = pd.read_csv("accident-datasets/alcohol/acc_due_to alcohol.csv")
acc_by_drinking.columns

Index(['Sl.No', 'State/UT', 'Total Number of Road Accidents',
       'Percentage Share in total number of road accidents',
       'Road accidents due to intake of alcohol',
       'Road accidents due to intake of alcohol as percentage of total accidents in the States'],
      dtype='object')

In [25]:
acc_by_drinking = acc_by_drinking.drop(labels = ['Sl.No','Total Number of Road Accidents',
'Road accidents due to intake of alcohol as percentage of total accidents in the States',
'Road accidents due to intake of alcohol'], axis = 1)
acc_by_drinking.head()

            State/UT  Percentage Share in total number of road accidents
0     Andhra Pradesh                                               5.18
1  Arunachal Pradesh                                               0.05
2              Assam                                               1.55
3              Bihar                                               1.71
4       Chhattisgarh                                               2.83

In [26]:
acc_by_drinking = acc_by_drinking.rename(
    columns={'Percentage Share in total number of road accidents':
            'Drunk'})
acc_by_drinking['Drunk'].sum()

200.03000000000003

In [27]:
acc_by_drinking['Drunk'] /= 100
acc_by_drinking['Not Drunk'] = 1 - acc_by_drinking['Drunk']
acc_by_drinking.head()

            State/UT   Drunk  Not Drunk
0     Andhra Pradesh  0.0518     0.9482
1  Arunachal Pradesh  0.0005     0.9995
2              Assam  0.0155     0.9845
3              Bihar  0.0171     0.9829
4       Chhattisgarh  0.0283     0.9717

In [28]:
alcohol_prod = pd.read_csv("accident-datasets/alcohol/alcohol-production.csv")
alcohol_prod.columns

Index(['State', 'Production of alcohol* (million litres) - 2014-15',
       'Production of alcohol* (million litres) - 2013-14',
       'Production of alcohol* (million litres) - 2012-13'],
      dtype='object')

In [29]:
alcohol_prod = alcohol_prod.drop(labels=['Production of alcohol* (million litres) - 2013-14',
       'Production of alcohol* (million litres) - 2012-13'], axis = 1)
alcohol_prod = alcohol_prod.drop(index = 12)
alcohol_prod.head()

            State  Production of alcohol* (million litres) - 2014-15
0  Andhra Pradesh                                              70.50
1           Bihar                                              68.25
2         Gujarat                                             131.00
3         Haryana                                              70.50
4       Karnataka                                             514.00

In [30]:
total_alcohol_prod = alcohol_prod['Production of alcohol* (million litres) - 2014-15'].sum()
total_alcohol_prod

3120.5

In [31]:
alcohol_prod['Production of alcohol* (million litres) - 2014-15'] /= total_alcohol_prod

In [32]:
alcohol_prod

                      State  Production of alcohol* (million litres) - 2014-15
0            Andhra Pradesh                                           0.022593
1                     Bihar                                           0.021871
2                   Gujarat                                           0.041980
3                   Haryana                                           0.022593
4                 Karnataka                                           0.164717
5               Maharashtra                                           0.308845
6                    Punjab                                           0.020349
7   Tamil Nadu & Puducherry                                           0.057843
8                 Telangana                                           0.011296
9             Uttar Pradesh                                           0.294344
10              Uttarakhand                                           0.013139
11                   Others                                           0.020429

In [33]:
alcohol_prod = alcohol_prod.rename(columns = {
    'Production of alcohol* (million litres) - 2014-15' : 'Drunk'
})

alcohol_prod['Not Drunk'] = 1 - alcohol_prod['Drunk']

In [34]:
alcohol_prod.head()

            State     Drunk  Not Drunk
0  Andhra Pradesh  0.022593   0.977407
1           Bihar  0.021871   0.978129
2         Gujarat  0.041980   0.958020
3         Haryana  0.022593   0.977407
4       Karnataka  0.164717   0.835283

In [35]:
d1 = {i[1][0].lower():{'Drunk':i[1][1], 'Not Drunk':i[1][2]} 
      for i in acc_by_drinking.iterrows()}
d2 = {i[1][0].lower():{'Drunk':i[1][1], 'Not Drunk':i[1][2]}
      for i in alcohol_prod.iterrows()}
d1, d2

({'andhra pradesh': {'Drunk': 0.0518, 'Not Drunk': 0.9482},
  'arunachal pradesh': {'Drunk': 0.0005, 'Not Drunk': 0.9995},
  'assam': {'Drunk': 0.0155, 'Not Drunk': 0.9845},
  'bihar': {'Drunk': 0.0171, 'Not Drunk': 0.9829},
  'chhattisgarh': {'Drunk': 0.028300000000000002, 'Not Drunk': 0.9717},
  'goa': {'Drunk': 0.009000000000000001, 'Not Drunk': 0.991},
  'gujarat': {'Drunk': 0.0455, 'Not Drunk': 0.9545},
  'haryana': {'Drunk': 0.023399999999999997, 'Not Drunk': 0.9766},
  'himachal pradesh': {'Drunk': 0.0066, 'Not Drunk': 0.9934},
  'jammu and kashmir': {'Drunk': 0.011399999999999999, 'Not Drunk': 0.9886},
  'jharkhand': {'Drunk': 0.0103, 'Not Drunk': 0.9897},
  'karnataka': {'Drunk': 0.0924, 'Not Drunk': 0.9076},
  'kerala': {'Drunk': 0.08199999999999999, 'Not Drunk': 0.918},
  'madhya pradesh': {'Drunk': 0.11230000000000001,
   'Not Drunk': 0.8876999999999999},
  'maharashtra': {'Drunk': 0.083, 'Not Drunk': 0.917},
  'manipur': {'Drunk': 0.0011, 'Not Drunk': 0.9989},
  'meghalaya': {'Drunk': 0.0013, 'Not Drunk': 0.9987},
  'mizoram': {'Drunk': 0.0002, 'Not Drunk': 0.9998},
  'nagaland': {'Drunk': 0.0002, 'Not Drunk': 0.9998},
  'odisha': {'Drunk': 0.0219, 'Not Drunk': 0.9781},
  'punjab': {'Drunk': 0.014499999999999999, 'Not Drunk': 0.9855},
  'rajasthan': {'Drunk': 0.048, 'Not Drunk': 0.952},
  'sikkim': {'Drunk': 0.0004, 'Not Drunk': 0.9996},
  'tamil nadu': {'Drunk': 0.14859999999999998, 'Not Drunk': 0.8514},
  'telangana': {'Drunk': 0.0475, 'Not Drunk': 0.9525},
  'tripura': {'Drunk': 0.0012, 'Not Drunk': 0.9988},
  'uttarakhand': {'Drunk': 0.0033, 'Not Drunk': 0.9967},
  'uttar pradesh': {'Drunk': 0.0741, 'Not Drunk': 0.9259},
  'west bengal': {'Drunk': 0.028300000000000002, 'Not Drunk': 0.9717},
  'andaman and nicobar islands': {'Drunk': 0.0005, 'Not Drunk': 0.9995},
  'chandigarh': {'Drunk': 0.0009, 'Not Drunk': 0.9991},
  'dadra and nagar haveli': {'Drunk': 0.0001, 'Not Drunk': 0.9999},
  'daman and diu': {'Drunk': 0.0001, 'Not Drunk': 0.9999},
  'delhi': {'Drunk': 0.015300000000000001, 'Not Drunk': 0.9847},
  'lakshadweep': {'Drunk': 0.0, 'Not Drunk': 1.0},
  'puducherry': {'Drunk': 0.0037, 'Not Drunk': 0.9963},
  'total': {'Drunk': 1.0, 'Not Drunk': 0.0}},
 {'andhra pradesh': {'Drunk': 0.022592533247876943,
   'Not Drunk': 0.9774074667521231},
  'bihar': {'Drunk': 0.021871494952731933, 'Not Drunk': 0.9781285050472681},
  'gujarat': {'Drunk': 0.04198045185066496, 'Not Drunk': 0.958019548149335},
  'haryana': {'Drunk': 0.022592533247876943, 'Not Drunk': 0.9774074667521231},
  'karnataka': {'Drunk': 0.1647171927575709, 'Not Drunk': 0.8352828072424291},
  'maharashtra': {'Drunk': 0.30884473642044546,
   'Not Drunk': 0.6911552635795546},
  'punjab': {'Drunk': 0.020349302996314694, 'Not Drunk': 0.9796506970036853},
  'tamil nadu & puducherry': {'Drunk': 0.05784329434385515,
   'Not Drunk': 0.9421567056561448},
  'telangana': {'Drunk': 0.011296266623938471,
   'Not Drunk': 0.9887037333760615},
  'uttar pradesh': {'Drunk': 0.29434385515141803,
   'Not Drunk': 0.705656144848582},
  'uttarakhand': {'Drunk': 0.013138920044864605,
   'Not Drunk': 0.9868610799551354},
  'others': {'Drunk': 0.020429418362441918, 'Not Drunk': 0.9795705816375581}})

In [36]:
Probs['Drinking'] = Bayesian_Probability(d1, d2)

## Type of Location

In [37]:
acc_by_location = pd.read_csv('accident-datasets/type-of-location/Acc_classified_according_to_Type_of_Location_2014_and_2016.csv')
acc_by_location.head()

,S. No.,State/ UT,Near School or College - Total Acc. - 2014,Near School or College - Persons Killed - 2014,Near School or College - Persons Injured - 2014,Near or inside a village - Total Acc. - 2014,Near or inside a village - Persons Killed - 2014,Near or inside a village - Persons Injured - 2014,Near a Factory/Industrial area - Total Acc. - 2014,Near a Factory/Industrial area - Persons Killed - 2014,...,Near Petrol Pump - Persons Injured - 2016,Near Bus Stand - Total Accidents - 2016,Near Bus Stand - Persons Killed - 2016,Near Bus Stand - Persons Injured - 2016,Near or on Road under Construction - Total Accidents - 2016,Near or on Road under Construction - Persons Killed - 2016,Near or on Road under Construction - Persons Injured - 2016,Open Area - Total Accidents - 2016,Open Area - Persons Killed - 2016,Open Area - Persons Injured - 2016
0,1,Andhra Pradesh,1110,301,1486,3782,1255,4762,830,277,...,1030,1151,373,1409,389,199,572,9912.0,3486,12723
1,2,Arunachal Pradesh,23,8,48,0,0,0,0,0,...,13,3,0,11,15,16,39,78.0,50,53
2,3,Assam,409,157,348,792,296,716,364,123,...,254,367,114,285,254,69,231,2614.0,955,2220
3,4,Bihar,699,342,517,2050,1064,1443,349,161,...,232,336,197,250,272,130,179,2806.0,1839,1930
4,5,Chhattisgarh,577,162,579,3444,1160,3470,658,220,...,445,438,111,409,396,97,340,5716.0,1982,5837

In [38]:
acc_by_location = acc_by_location.drop(labels= [c for c in acc_by_location.columns
                                                if '2016' in c or 'Persons' in c]
                                       + ['S. No.'], axis = 1)
acc_by_location.head()

,State/ UT,Near School or College - Total Acc. - 2014,Near or inside a village - Total Acc. - 2014,Near a Factory/Industrial area - Total Acc. - 2014,Near a religious place - Total Acc. - 2014,Near a recreation place/cinema - Total Acc. - 2014,In bazaar - Total Acc. - 2014,Near office complex - Total Acc. - 2014,Near hospital - Total Acc. - 2014,Residential area - Total Acc. - 2014,Open area - Total Acc. - 2014,Near bus stop - Total Acc. - 2014,Near petrol pump - Total Acc. - 2014,At pedestrian crossing - Total Acc. - 2014,Affected by encroachments - Total Acc. - 2014,Narrow Bridge or culverts - Total Acc. - 2014
0,Andhra Pradesh,1110,3782,830,760,594,1452,415,622,2051,6693,1308,707,2401,322,1393
1,Arunachal Pradesh,23,0,0,5,0,71,2,21,15,29,16,23,0,0,0
2,Assam,409,792,364,209,161,666,253,261,617,2449,316,243,268,35,101
3,Bihar,699,2050,349,362,305,1026,161,291,674,1957,469,337,320,331,225
4,Chhattisgarh,577,3444,658,512,293,683,527,364,1498,3384,487,456,265,60,613

In [39]:
locations = pd.read_csv('accident-datasets/type-of-location/locations.csv', header=None)
locations

                             0   1
0                       market  10
1               school/college   6
2                      village  10
3             industry/factory   4
4              religious place   4
5   recreational place/ cinema   8
6                       office   9
7                     hospital   3
8             residential area  15
9                    open area  10
10                    bus-stop   3
11                 petrol pump   5
12         pedestrian crossing   4
13               enchroachment   5
14      narrow-bridge & curves   4

In [40]:
locations[1] = locations[1]/locations[1].sum()
locations.head()

                  0     1
0            market  0.10
1    school/college  0.06
2           village  0.10
3  industry/factory  0.04
4   religious place  0.04

In [41]:
acc_by_location = acc_by_location.rename(columns = {'Near School or College - Total Acc. - 2014' : 'school/college',
       'Near or inside a village - Total Acc. - 2014' : 'village',
       'Near a Factory/Industrial area - Total Acc. - 2014' : 'industry/factory' ,
       'Near a religious place - Total Acc. - 2014' : 'religious place',
       'Near a recreation place/cinema - Total Acc. - 2014' : 'recreational place/ cinema',
       'In bazaar - Total Acc. - 2014' : 'market',
       'Near office complex - Total Acc. - 2014' : 'office',
       'Near hospital - Total Acc. - 2014' : 'hospital',
       'Residential area - Total Acc. - 2014': 'residential area',
        'Open area - Total Acc. - 2014' : 'open area',
       'Near bus stop - Total Acc. - 2014': 'bus-stop',
       'Near petrol pump - Total Acc. - 2014' : 'petrol pump',
       'At pedestrian crossing - Total Acc. - 2014' : 'pedestrian crossing',
       'Affected by encroachments - Total Acc. - 2014' : 'enchroachment',
       'Narrow Bridge or culverts - Total Acc. - 2014' : 'narrow-bridge & curves'})
acc_by_location.columns

Index(['State/ UT', 'school/college', 'village', 'industry/factory',
       'religious place', 'recreational place/ cinema', 'market', 'office',
       'hospital', 'residential area', 'open area', 'bus-stop', 'petrol pump',
       'pedestrian crossing', 'enchroachment', 'narrow-bridge & curves'],
      dtype='object')

In [42]:
acc_by_location['Total'] = acc_by_location[[c for c in acc_by_location.columns 
                                     if 'State/ UT' not in c]].sum(axis = 1)

In [43]:
acc_by_location

,State/ UT,school/college,village,industry/factory,religious place,recreational place/ cinema,market,office,hospital,residential area,open area,bus-stop,petrol pump,pedestrian crossing,enchroachment,narrow-bridge & curves,Total
0,Andhra Pradesh,1110,3782,830,760,594,1452,415,622,2051,6693,1308,707,2401,322,1393,24440
1,Arunachal Pradesh,23,0,0,5,0,71,2,21,15,29,16,23,0,0,0,205
2,Assam,409,792,364,209,161,666,253,261,617,2449,316,243,268,35,101,7144
3,Bihar,699,2050,349,362,305,1026,161,291,674,1957,469,337,320,331,225,9556
4,Chhattisgarh,577,3444,658,512,293,683,527,364,1498,3384,487,456,265,60,613,13821
5,Goa,177,517,343,253,90,273,175,145,785,1027,310,100,6,1,27,4229
6,Gujarat,961,3219,1444,777,384,1504,1110,526,2613,7481,1054,803,780,290,766,23712
7,Haryana,547,1305,624,358,441,829,513,528,967,2390,658,453,579,190,294,10676
8,Himachal Pradesh,112,318,131,73,11,306,91,128,254,1384,110,51,75,0,14,3058
9,Jammu & Kashmir,24,483,120,30,52,438,57,52,425,3793,88,20,133,52,94,5861
10,Jharkhand,435,721,273,209,125,477,143,131,571,1392,215,130,186,88,105,5201
11,Karnataka,1915,6075,1752,1575,855,2133,1493,1232,4008,14590,2750,1219,1980,339,1797,43713
12,Kerala,2181,327,1289,1452,1232,193,1282,1433,2580,19837,1683,1185,209,629,770,36282
13,Madhya Pradesh,2042,12963,1682,1624,1331,4461,2029,1517,7020,13619,1625,1483,567,148,1361,53472
14,Maharashtra,2220,8544,2514,1830,1367,3141,3643,1606,7212,20769,2588,2245,2574,66,1308,61627
15,Manipur,59,187,10,26,24,83,25,16,23,121,40,25,17,24,63,743
16,Meghalaya,36,17,0,28,56,156,62,48,62,34,9,0,21,0,13,542
17,Mizoram,3,52,0,5,1,7,10,2,29,19,2,2,0,0,0,132
18,Nagaland,0,52,0,0,0,0,0,0,33,220,0,0,0,0,0,305
19,Orissa,534,1122,594,248,156,993,241,216,715,2813,352,338,335,177,814,9648
20,Punjab,349,1109,344,205,197,299,136,187,670,1714,366,255,316,60,184,6391
21,Rajasthan,683,3817,921,519,321,2292,461,655,2970,9922,930,473,288,95,281,24628
22,Sikkim,0,0,3,2,0,14,0,0,0,71,14,6,0,0,93,203
23,Tamil Nadu,4023,5808,3578,2417,2010,4850,2421,2315,8089,17039,5428,2056,4411,393,2412,67250
24,Telangana,869,3398,927,653,504,1600,622,947,1330,4242,1496,935,1526,295,734,20078
25,Tripura,39,180,24,26,11,67,40,31,61,160,17,10,39,1,10,716
26,Uttarakhand,84,204,146,84,38,186,50,45,87,361,56,52,14,0,3,1410
27,Uttar Pradesh,2041,3709,2488,1482,1265,3816,1418,1459,2157,5817,1766,1218,751,770,877,31034
28,West Bengal,593,890,678,366,340,1414,434,323,905,4375,832,507,591,325,302,12875
29,A & N Islands,10,61,4,17,1,44,23,5,24,20,6,2,0,0,1,218
30,Chandigarh,8,27,25,8,12,30,5,9,46,115,19,12,12,17,24,369
31,D & N Haveli,11,25,12,1,2,13,2,2,4,0,2,7,0,0,6,87
32,Daman & Diu,1,6,15,1,0,0,0,0,8,0,4,1,0,0,3,39
33,Delhi,547,1305,624,358,441,829,513,528,967,2390,658,453,579,190,294,10676
34,Lakshadweep,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
35,Puducherry,72,116,79,97,56,85,47,57,106,111,81,68,91,7,38,1111
36,Total,22847,65320,22221,16214,12235,33602,17891,15174,48610,147948,25097,15422,18755,4715,14726,480777

In [44]:
for c in list(locations[0]):
    acc_by_location[c] = acc_by_location[c]/acc_by_location['Total']
acc_by_location.head()

,State/ UT,school/college,village,industry/factory,religious place,recreational place/ cinema,market,office,hospital,residential area,open area,bus-stop,petrol pump,pedestrian crossing,enchroachment,narrow-bridge & curves,Total
0,Andhra Pradesh,0.045417,0.154746,0.033961,0.031097,0.024304,0.059411,0.016980,0.025450,0.083920,0.273854,0.053519,0.028928,0.098241,0.013175,0.056997,24440
1,Arunachal Pradesh,0.112195,0.000000,0.000000,0.024390,0.000000,0.346341,0.009756,0.102439,0.073171,0.141463,0.078049,0.112195,0.000000,0.000000,0.000000,205
2,Assam,0.057251,0.110862,0.050952,0.029255,0.022536,0.093225,0.035414,0.036534,0.086366,0.342805,0.044233,0.034015,0.037514,0.004899,0.014138,7144
3,Bihar,0.073148,0.214525,0.036522,0.037882,0.031917,0.107367,0.016848,0.030452,0.070532,0.204793,0.049079,0.035266,0.033487,0.034638,0.023545,9556
4,Chhattisgarh,0.041748,0.249186,0.047609,0.037045,0.021200,0.049418,0.038130,0.026337,0.108386,0.244845,0.035236,0.032993,0.019174,0.004341,0.044353,13821

In [45]:
acc_by_location = acc_by_location.drop(['Total'], axis=1)

In [46]:
d1 = {i[1][0].lower():{ acc_by_location.columns[j]:i[1][j]
                       for j in range(1, acc_by_location.shape[1])}
     for i in acc_by_location.iterrows()}
d2 = {i[1][0].lower():i[1][1] for i in locations.iterrows()}
d1, d2

({'andhra pradesh': {'school/college': 0.04541734860883797,
   'village': 0.15474631751227497,
   'industry/factory': 0.033960720130932896,
   'religious place': 0.031096563011456628,
   'recreational place/ cinema': 0.02430441898527005,
   'market': 0.059410801963993454,
   'office': 0.016980360065466448,
   'hospital': 0.025450081833060557,
   'residential area': 0.08391980360065467,
   'open area': 0.27385433715220947,
   'bus-stop': 0.053518821603927985,
   'petrol pump': 0.02892798690671031,
   'pedestrian crossing': 0.09824058919803601,
   'enchroachment': 0.013175122749590835,
   'narrow-bridge & curves': 0.05699672667757774},
  'arunachal pradesh': {'school/college': 0.11219512195121951,
   'village': 0.0,
   'industry/factory': 0.0,
   'religious place': 0.024390243902439025,
   'recreational place/ cinema': 0.0,
   'market': 0.3463414634146341,
   'office': 0.00975609756097561,
   'hospital': 0.1024390243902439,
   'residential area': 0.07317073170731707,
   'open area': 0.14146341463414633,
   'bus-stop': 0.07804878048780488,
   'petrol pump': 0.11219512195121951,
   'pedestrian crossing': 0.0,
   'enchroachment': 0.0,
   'narrow-bridge & curves': 0.0},
  'assam': {'school/college': 0.0572508398656215,
   'village': 0.11086226203807391,
   'industry/factory': 0.0509518477043673,
   'religious place': 0.02925531914893617,
   'recreational place/ cinema': 0.02253639417693169,
   'market': 0.09322508398656215,
   'office': 0.035414333706606946,
   'hospital': 0.03653415453527436,
   'residential area': 0.08636618141097424,
   'open area': 0.3428051511758119,
   'bus-stop': 0.044232922732362824,
   'petrol pump': 0.034014557670772674,
   'pedestrian crossing': 0.037513997760358346,
   'enchroachment': 0.004899216125419933,
   'narrow-bridge & curves': 0.014137737961926092},
  'bihar': {'school/college': 0.07314776056927584,
   'village': 0.21452490581833403,
   'industry/factory': 0.03652155713687735,
   'religious place': 0.03788195897865215,
   'recreational place/ cinema': 0.031917120133947256,
   'market': 0.10736709920468815,
   'office': 0.016848053578903305,
   'hospital': 0.030452071996651318,
   'residential area': 0.07053160318124739,
   'open area': 0.20479280033486816,
   'bus-stop': 0.04907911259941398,
   'petrol pump': 0.035265801590623695,
   'pedestrian crossing': 0.033486814566764334,
   'enchroachment': 0.03463792381749686,
   'narrow-bridge & curves': 0.023545416492256173},
  'chhattisgarh': {'school/college': 0.04174806453946892,
   'village': 0.24918602127197742,
   'industry/factory': 0.04760871138123146,
   'religious place': 0.037045076333116274,
   'recreational place/ cinema': 0.021199623760943493,
   'market': 0.0494175529990594,
   'office': 0.038130381303813035,
   'hospital': 0.02633673395557485,
   'residential area': 0.10838578974025034,
   'open area': 0.24484480138919038,
   'bus-stop': 0.03523623471528833,
   'petrol pump': 0.03299327110918168,
   'pedestrian crossing': 0.019173721148976197,
   'enchroachment': 0.004341219882787063,
   'narrow-bridge & curves': 0.04435279646914116},
  'goa': {'school/college': 0.04185386616221329,
   'village': 0.12225112319697327,
   'industry/factory': 0.0811066445968314,
   'religious place': 0.059825017734689054,
   'recreational place/ cinema': 0.021281626862142352,
   'market': 0.06455426814849846,
   'office': 0.04138094112083235,
   'hospital': 0.03428706550011823,
   'residential area': 0.1856230787420194,
   'open area': 0.24284700874911327,
   'bus-stop': 0.07330338141404587,
   'petrol pump': 0.023646252069047056,
   'pedestrian crossing': 0.0014187751241428233,
   'enchroachment': 0.00023646252069047056,
   'narrow-bridge & curves': 0.006384488058642705},
  'gujarat': {'school/college': 0.04052800269905533,
   'village': 0.13575404858299595,
   'industry/factory': 0.060897435897435896,
   'religious place': 0.03276821862348178,
   'recreational place/ cinema': 0.016194331983805668,
   'market': 0.06342780026990553,
   'office': 0.04681174089068826,
   'hospital': 0.022182860998650474,
   'residential area': 0.11019736842105263,
   'open area': 0.3154942645074224,
   'bus-stop': 0.04445006747638327,
   'petrol pump': 0.033864709851551954,
   'pedestrian crossing': 0.03289473684210526,
   'enchroachment': 0.012230094466936571,
   'narrow-bridge & curves': 0.032304318488529014},
  'haryana': {'school/college': 0.051236418134132634,
   'village': 0.12223679280629449,
   'industry/factory': 0.05844885724990633,
   'religious place': 0.03353315848632447,
   'recreational place/ cinema': 0.04130760584488573,
   'market': 0.077650805545148,
   'office': 0.04805170475833646,
   'hospital': 0.049456725365305355,
   'residential area': 0.0905769951292619,
   'open area': 0.2238666167103784,
   'bus-stop': 0.06163357062570251,
   'petrol pump': 0.04243162233046085,
   'pedestrian crossing': 0.05423379542899963,
   'enchroachment': 0.017796927688272762,
   'narrow-bridge & curves': 0.027538403896590482},
  'himachal pradesh': {'school/college': 0.03662524525833878,
   'village': 0.1039895356442119,
   'industry/factory': 0.04283845650752126,
   'religious place': 0.023871811641595814,
   'recreational place/ cinema': 0.0035971223021582736,
   'market': 0.1000654022236756,
   'office': 0.029758011772400263,
   'hospital': 0.041857423152387184,
   'residential area': 0.08306082406801832,
   'open area': 0.4525833878351864,
   'bus-stop': 0.03597122302158273,
   'petrol pump': 0.016677567037279267,
   'pedestrian crossing': 0.024525833878351864,
   'enchroachment': 0.0,
   'narrow-bridge & curves': 0.004578155657292348},
  'jammu & kashmir': {'school/college': 0.004094864357618154,
   'village': 0.08240914519706535,
   'industry/factory': 0.02047432178809077,
   'religious place': 0.0051185804470226925,
   'recreational place/ cinema': 0.008872206108172668,
   'market': 0.0747312745265313,
   'office': 0.009725302849343115,
   'hospital': 0.008872206108172668,
   'residential area': 0.07251322299948815,
   'open area': 0.6471591878519024,
   'bus-stop': 0.015014502644599897,
   'petrol pump': 0.003412386964681795,
   'pedestrian crossing': 0.022692373315133935,
   'enchroachment': 0.008872206108172668,
   'narrow-bridge & curves': 0.016038218734004437},
  'jharkhand': {'school/college': 0.08363776196885214,
   'village': 0.1386271870794078,
   'industry/factory': 0.052489905787348586,
   'religious place': 0.04018457988848299,
   'recreational place/ cinema': 0.02403383964622188,
   'market': 0.09171313208998269,
   'office': 0.02749471255527783,
   'hospital': 0.02518746394924053,
   'residential area': 0.10978657950394155,
   'open area': 0.26764083830032687,
   'bus-stop': 0.04133820419150164,
   'petrol pump': 0.024995193232070757,
   'pedestrian crossing': 0.03576235339357816,
   'enchroachment': 0.016919823110940205,
   'narrow-bridge & curves': 0.020188425302826378},
  'karnataka': {'school/college': 0.04380847802713152,
   'village': 0.13897467572575664,
   'industry/factory': 0.04007961018461327,
   'religious place': 0.03603047148445543,
   'recreational place/ cinema': 0.01955939880584723,
   'market': 0.04879555281037678,
   'office': 0.034154599318280604,
   'hospital': 0.028183835472285132,
   'residential area': 0.09168897124425228,
   'open area': 0.33376798664012997,
   'bus-stop': 0.06291034703635075,
   'petrol pump': 0.02788644110447693,
   'pedestrian crossing': 0.04529544986617253,
   'enchroachment': 0.007755130052844691,
   'narrow-bridge & curves': 0.04110905222702629},
  'kerala': {'school/college': 0.06011245245576319,
   'village': 0.009012733586902596,
   'industry/factory': 0.03552725869577201,
   'religious place': 0.040019844551017036,
   'recreational place/ cinema': 0.03395623174025688,
   'market': 0.00531944214762141,
   'office': 0.035334325560884186,
   'hospital': 0.03949616889917865,
   'residential area': 0.07110964114436912,
   'open area': 0.5467449423956783,
   'bus-stop': 0.0463866380023152,
   'petrol pump': 0.03266082354886721,
   'pedestrian crossing': 0.005760432170222149,
   'enchroachment': 0.01733642026349154,
   'narrow-bridge & curves': 0.021222644837660547},
  'madhya pradesh': {'school/college': 0.03818821065230401,
   'village': 0.24242594254937164,
   'industry/factory': 0.031455715140634354,
   'religious place': 0.030371035308198683,
   'recreational place/ cinema': 0.024891532016756434,
   'market': 0.08342684021543986,
   'office': 0.03794509275882705,
   'hospital': 0.02836998803111909,
   'residential area': 0.13128366247755835,
   'open area': 0.25469404548174746,
   'bus-stop': 0.03038973668461999,
   'petrol pump': 0.027734141232794735,
   'pedestrian crossing': 0.010603680430879713,
   'enchroachment': 0.002767803710353082,
   'narrow-bridge & curves': 0.02545257330939557},
  'maharashtra': {'school/college': 0.03602317166177162,
   'village': 0.13864053093611567,
   'industry/factory': 0.04079380790887111,
   'religious place': 0.029694776640109045,
   'recreational place/ cinema': 0.02218183588362244,
   'market': 0.050967919905236345,
   'office': 0.059113700163889206,
   'hospital': 0.026060006166128483,
   'residential area': 0.11702662793905269,
   'open area': 0.3370113748843851,
   'bus-stop': 0.04199458029759683,
   'petrol pump': 0.036428838009314096,
   'pedestrian crossing': 0.04176740714297305,
   'enchroachment': 0.0010709591575121294,
   'narrow-bridge & curves': 0.021224463303422203},
  'manipur': {'school/college': 0.07940780619111709,
   'village': 0.25168236877523553,
   'industry/factory': 0.013458950201884253,
   'religious place': 0.034993270524899055,
   'recreational place/ cinema': 0.03230148048452221,
   'market': 0.1117092866756393,
   'office': 0.033647375504710635,
   'hospital': 0.021534320323014805,
   'residential area': 0.03095558546433378,
   'open area': 0.16285329744279947,
   'bus-stop': 0.05383580080753701,
   'petrol pump': 0.033647375504710635,
   'pedestrian crossing': 0.02288021534320323,
   'enchroachment': 0.03230148048452221,
   'narrow-bridge & curves': 0.0847913862718708},
  'meghalaya': {'school/college': 0.06642066420664207,
   'village': 0.03136531365313653,
   'industry/factory': 0.0,
   'religious place': 0.05166051660516605,
   'recreational place/ cinema': 0.1033210332103321,
   'market': 0.2878228782287823,
   'office': 0.11439114391143912,
   'hospital': 0.08856088560885608,
   'residential area': 0.11439114391143912,
   'open area': 0.06273062730627306,
   'bus-stop': 0.016605166051660517,
   'petrol pump': 0.0,
   'pedestrian crossing': 0.03874538745387454,
   'enchroachment': 0.0,
   'narrow-bridge & curves': 0.023985239852398525},
  'mizoram': {'school/college': 0.022727272727272728,
   'village': 0.3939393939393939,
   'industry/factory': 0.0,
   'religious place': 0.03787878787878788,
   'recreational place/ cinema': 0.007575757575757576,
   'market': 0.05303030303030303,
   'office': 0.07575757575757576,
   'hospital': 0.015151515151515152,
   'residential area': 0.2196969696969697,
   'open area': 0.14393939393939395,
   'bus-stop': 0.015151515151515152,
   'petrol pump': 0.015151515151515152,
   'pedestrian crossing': 0.0,
   'enchroachment': 0.0,
   'narrow-bridge & curves': 0.0},
  'nagaland': {'school/college': 0.0,
   'village': 0.17049180327868851,
   'industry/factory': 0.0,
   'religious place': 0.0,
   'recreational place/ cinema': 0.0,
   'market': 0.0,
   'office': 0.0,
   'hospital': 0.0,
   'residential area': 0.10819672131147541,
   'open area': 0.7213114754098361,
   'bus-stop': 0.0,
   'petrol pump': 0.0,
   'pedestrian crossing': 0.0,
   'enchroachment': 0.0,
   'narrow-bridge & curves': 0.0},
  'orissa': {'school/college': 0.05534825870646766,
   'village': 0.11629353233830846,
   'industry/factory': 0.061567164179104475,
   'religious place': 0.02570480928689884,
   'recreational place/ cinema': 0.01616915422885572,
   'market': 0.1029228855721393,
   'office': 0.02497927031509121,
   'hospital': 0.022388059701492536,
   'residential area': 0.07410862354892206,
   'open area': 0.2915630182421227,
   'bus-stop': 0.03648424543946932,
   'petrol pump': 0.03503316749585406,
   'pedestrian crossing': 0.034722222222222224,
   'enchroachment': 0.018345771144278607,
   'narrow-bridge & curves': 0.08436981757877281},
  'punjab': {'school/college': 0.05460804255984979,
   'village': 0.17352526991081207,
   'industry/factory': 0.053825692379909244,
   'religious place': 0.0320763573775622,
   'recreational place/ cinema': 0.03082459708965733,
   'market': 0.046784540760444374,
   'office': 0.021279924894382726,
   'hospital': 0.029259896729776247,
   'residential area': 0.10483492411203255,
   'open area': 0.2681896416836176,
   'bus-stop': 0.05726803317164763,
   'petrol pump': 0.03989985917696761,
   'pedestrian crossing': 0.049444531372242216,
   'enchroachment': 0.009388202159286497,
   'narrow-bridge & curves': 0.028790486621811922},
  'rajasthan': {'school/college': 0.027732662010719507,
   'village': 0.15498619457528018,
   'industry/factory': 0.03739645931460127,
   'religious place': 0.021073574792918628,
   'recreational place/ cinema': 0.013033945103134643,
   'market': 0.0930648042878025,
   'office': 0.018718531752476855,
   'hospital': 0.026595744680851064,
   'residential area': 0.12059444534675978,
   'open area': 0.40287477667695304,
   'bus-stop': 0.037761897027773265,
   'petrol pump': 0.019205782036706188,
   'pedestrian crossing': 0.01169400682150398,
   'enchroachment': 0.0038573980834822152,
   'narrow-bridge & curves': 0.01140977748903687},
  'sikkim': {'school/college': 0.0,
   'village': 0.0,
   'industry/factory': 0.014778325123152709,
   'religious place': 0.009852216748768473,
   'recreational place/ cinema': 0.0,
   'market': 0.06896551724137931,
   'office': 0.0,
   'hospital': 0.0,
   'residential area': 0.0,
   'open area': 0.3497536945812808,
   'bus-stop': 0.06896551724137931,
   'petrol pump': 0.029556650246305417,
   'pedestrian crossing': 0.0,
   'enchroachment': 0.0,
   'narrow-bridge & curves': 0.458128078817734},
  'tamil nadu': {'school/college': 0.05982156133828996,
   'village': 0.08636431226765799,
   'industry/factory': 0.05320446096654275,
   'religious place': 0.035940520446096656,
   'recreational place/ cinema': 0.029888475836431228,
   'market': 0.07211895910780669,
   'office': 0.036,
   'hospital': 0.034423791821561335,
   'residential area': 0.1202825278810409,
   'open area': 0.25336802973977696,
   'bus-stop': 0.08071375464684015,
   'petrol pump': 0.0305724907063197,
   'pedestrian crossing': 0.0655910780669145,
   'enchroachment': 0.005843866171003718,
   'narrow-bridge & curves': 0.03586617100371747},
  'telangana': {'school/college': 0.0432812033071023,
   'village': 0.16923996413985457,
   'industry/factory': 0.046169937244745496,
   'religious place': 0.03252315967725869,
   'recreational place/ cinema': 0.025102101802968423,
   'market': 0.07968921207291563,
   'office': 0.030979181193345952,
   'hospital': 0.04716605239565694,
   'residential area': 0.06624165753561112,
   'open area': 0.21127602350831756,
   'bus-stop': 0.07450941328817612,
   'petrol pump': 0.046568383305110074,
   'pedestrian crossing': 0.07600358601454328,
   'enchroachment': 0.01469269847594382,
   'narrow-bridge & curves': 0.036557426038450046},
  'tripura': {'school/college': 0.05446927374301676,
   'village': 0.25139664804469275,
   'industry/factory': 0.0335195530726257,
   'religious place': 0.036312849162011177,
   'recreational place/ cinema': 0.015363128491620111,
   'market': 0.0935754189944134,
   'office': 0.055865921787709494,
   'hospital': 0.04329608938547486,
   'residential area': 0.08519553072625698,
   'open area': 0.22346368715083798,
   'bus-stop': 0.023743016759776536,
   'petrol pump': 0.013966480446927373,
   'pedestrian crossing': 0.05446927374301676,
   'enchroachment': 0.0013966480446927375,
   'narrow-bridge & curves': 0.013966480446927373},
  'uttarakhand': {'school/college': 0.059574468085106386,
   'village': 0.14468085106382977,
   'industry/factory': 0.10354609929078014,
   'religious place': 0.059574468085106386,
   'recreational place/ cinema': 0.02695035460992908,
   'market': 0.13191489361702127,
   'office': 0.03546099290780142,
   'hospital': 0.031914893617021274,
   'residential area': 0.06170212765957447,
   'open area': 0.2560283687943262,
   'bus-stop': 0.03971631205673759,
   'petrol pump': 0.03687943262411347,
   'pedestrian crossing': 0.009929078014184398,
   'enchroachment': 0.0,
   'narrow-bridge & curves': 0.002127659574468085},
  'uttar pradesh': {'school/college': 0.06576657859122254,
   'village': 0.11951408133015402,
   'industry/factory': 0.08017013597989302,
   'religious place': 0.04775407617451827,
   'recreational place/ cinema': 0.04076174518270284,
   'market': 0.12296191274086486,
   'office': 0.045691821872784685,
   'hospital': 0.047012953534832765,
   'residential area': 0.06950441451311465,
   'open area': 0.1874395823935039,
   'bus-stop': 0.056905329638461045,
   'petrol pump': 0.03924727717986724,
   'pedestrian crossing': 0.024199265321905007,
   'enchroachment': 0.024811497067732165,
   'narrow-bridge & curves': 0.028259328478442997},
  'west bengal': {'school/college': 0.04605825242718447,
   'village': 0.069126213592233,
   'industry/factory': 0.05266019417475728,
   'religious place': 0.02842718446601942,
   'recreational place/ cinema': 0.02640776699029126,
   'market': 0.1098252427184466,
   'office': 0.03370873786407767,
   'hospital': 0.0250873786407767,
   'residential area': 0.07029126213592234,
   'open area': 0.33980582524271846,
   'bus-stop': 0.06462135922330096,
   'petrol pump': 0.03937864077669903,
   'pedestrian crossing': 0.045902912621359225,
   'enchroachment': 0.02524271844660194,
   'narrow-bridge & curves': 0.02345631067961165},
  'a & n islands': {'school/college': 0.045871559633027525,
   'village': 0.2798165137614679,
   'industry/factory': 0.01834862385321101,
   'religious place': 0.0779816513761468,
   'recreational place/ cinema': 0.0045871559633027525,
   'market': 0.2018348623853211,
   'office': 0.10550458715596331,
   'hospital': 0.022935779816513763,
   'residential area': 0.11009174311926606,
   'open area': 0.09174311926605505,
   'bus-stop': 0.027522935779816515,
   'petrol pump': 0.009174311926605505,
   'pedestrian crossing': 0.0,
   'enchroachment': 0.0,
   'narrow-bridge & curves': 0.0045871559633027525},
  'chandigarh': {'school/college': 0.02168021680216802,
   'village': 0.07317073170731707,
   'industry/factory': 0.06775067750677506,
   'religious place': 0.02168021680216802,
   'recreational place/ cinema': 0.032520325203252036,
   'market': 0.08130081300813008,
   'office': 0.013550135501355014,
   'hospital': 0.024390243902439025,
   'residential area': 0.12466124661246612,
   'open area': 0.3116531165311653,
   'bus-stop': 0.051490514905149054,
   'petrol pump': 0.032520325203252036,
   'pedestrian crossing': 0.032520325203252036,
   'enchroachment': 0.04607046070460705,
   'narrow-bridge & curves': 0.06504065040650407},
  'd & n haveli': {'school/college': 0.12643678160919541,
   'village': 0.28735632183908044,
   'industry/factory': 0.13793103448275862,
   'religious place': 0.011494252873563218,
   'recreational place/ cinema': 0.022988505747126436,
   'market': 0.14942528735632185,
   'office': 0.022988505747126436,
   'hospital': 0.022988505747126436,
   'residential area': 0.04597701149425287,
   'open area': 0.0,
   'bus-stop': 0.022988505747126436,
   'petrol pump': 0.08045977011494253,
   'pedestrian crossing': 0.0,
   'enchroachment': 0.0,
   'narrow-bridge & curves': 0.06896551724137931},
  'daman & diu': {'school/college': 0.02564102564102564,
   'village': 0.15384615384615385,
   'industry/factory': 0.38461538461538464,
   'religious place': 0.02564102564102564,
   'recreational place/ cinema': 0.0,
   'market': 0.0,
   'office': 0.0,
   'hospital': 0.0,
   'residential area': 0.20512820512820512,
   'open area': 0.0,

In [47]:
Probs['Type of Location'] = Bayesian_Probability(d1, d2)

# Type of License

In [48]:
acc_by_license = pd.read_csv("./accident-datasets/type-of-license/Acc_clfacco_to_Type_of_Licence_2016.csv")
acc_by_license.head()

  S. No.          State/ UT  Regular  Learner  Non-Licenced
0      1     Andhra Pradesh    20973     1254          2661
1      2  Arunachal Pradesh       93       85            71
2      3              Assam     7435        0             0
3      4              Bihar     6559     1160           503
4      5       Chhattisgarh    10485     1507          1588

In [49]:
acc_by_license['Total'] = acc_by_license[['Regular', 'Learner', 'Non-Licenced']].sum(axis=1)
acc_by_license

   S. No.          State/ UT  Regular  Learner  Non-Licenced   Total
0       1     Andhra Pradesh    20973     1254          2661   24888
1       2  Arunachal Pradesh       93       85            71     249
2       3              Assam     7435        0             0    7435
3       4              Bihar     6559     1160           503    8222
4       5       Chhattisgarh    10485     1507          1588   13580
5       6                Goa     4263        1            40    4304
6       7            Gujarat    18026     3042           791   21859
7       8            Haryana     5686     3530          2018   11234
8       9   Himachal Pradesh     2301       68          1026    3395
9      10    Jammu & Kashmir     3544     1369           588    5501
10     11          Jharkhand     3002     1768           162    4932
11     12          Karnataka    39436     2084          2883   44403
12     13             Kerala    39072       76           272   39420
13     14     Madhya Pradesh    44822     6068          3082   53972
14     15        Maharashtra    36905     1342          1631   39878
15     16            Manipur      414       53            71     538
16     17          Meghalaya      375      154            91     620
17     18            Mizoram       73        0            10      83
18     19           Nagaland       75        0             0      75
19     20             Orissa     8529     1005           998   10532
20     21             Punjab     6073      498           381    6952
21     22          Rajasthan    21991      521           554   23066
22     23             Sikkim      157       45             8     210
23     24         Tamil Nadu    63421     2400          5610   71431
24     25          Telangana    16650     5702           459   22811
25     26            Tripura      498       36            23     557
26     27        Uttarakhand      613      728           250    1591
27     28      Uttar Pradesh    27960     4627          3025   35612
28     29        West Bengal     8946     1937          2697   13580
29     30      A & N Islands      238        0             0     238
30     31         Chandigarh     6073      498           381    6952
31     32       D & N Haveli       62        0             8      70
32     33        Daman & Diu       64        0             7      71
33     34              Delhi     5058      221           217    5496
34     35        Lakshadweep        1        0             0       1
35     36         Puducherry     1279      124           363    1766
36  Total              Total   405079    41405         32088  478572

In [50]:
for c in ['Regular', 'Learner', 'Non-Licenced']:
    acc_by_license[c] /= acc_by_license['Total']
acc_by_license.head()

  S. No.          State/ UT   Regular   Learner  Non-Licenced  Total
0      1     Andhra Pradesh  0.842695  0.050386      0.106919  24888
1      2  Arunachal Pradesh  0.373494  0.341365      0.285141    249
2      3              Assam  1.000000  0.000000      0.000000   7435
3      4              Bihar  0.797738  0.141085      0.061177   8222
4      5       Chhattisgarh  0.772091  0.110972      0.116937  13580

In [51]:
license_types = pd.read_csv("./accident-datasets/type-of-license/prob.csv", header=None)
license_types

              0     1
0       regular  0.70
1       learner  0.15
2  non-licensed  0.15

In [52]:
d1 = {i[1][1].lower():{'regular':i[1][2],
                       'learner':i[1][3],
                       'non-licensed':i[1][4]} for i in acc_by_license.iterrows()}
d2 = dict(zip(license_types[0], license_types[1]))
d1, d2

({'andhra pradesh': {'regular': 0.842695274831244,
   'learner': 0.05038572806171649,
   'non-licensed': 0.10691899710703953},
  'arunachal pradesh': {'regular': 0.37349397590361444,
   'learner': 0.3413654618473896,
   'non-licensed': 0.285140562248996},
  'assam': {'regular': 1.0, 'learner': 0.0, 'non-licensed': 0.0},
  'bihar': {'regular': 0.7977377766966675,
   'learner': 0.14108489418632936,
   'non-licensed': 0.06117732911700316},
  'chhattisgarh': {'regular': 0.7720913107511046,
   'learner': 0.1109720176730486,
   'non-licensed': 0.11693667157584683},
  'goa': {'regular': 0.9904739776951673,
   'learner': 0.00023234200743494423,
   'non-licensed': 0.00929368029739777},
  'gujarat': {'regular': 0.8246488860423624,
   'learner': 0.13916464614117754,
   'non-licensed': 0.03618646781646004},
  'haryana': {'regular': 0.5061420687199573,
   'learner': 0.31422467509346624,
   'non-licensed': 0.17963325618657647},
  'himachal pradesh': {'regular': 0.6777614138438881,
   'learner': 0.020029455081001474,
   'non-licensed': 0.30220913107511044},
  'jammu & kashmir': {'regular': 0.644246500636248,
   'learner': 0.2488638429376477,
   'non-licensed': 0.10688965642610435},
  'jharkhand': {'regular': 0.6086780210867803,
   'learner': 0.3584752635847526,
   'non-licensed': 0.032846715328467155},
  'karnataka': {'regular': 0.888138188861113,
   'learner': 0.04693376573654933,
   'non-licensed': 0.06492804540233768},
  'kerala': {'regular': 0.99117199391172,
   'learner': 0.0019279553526128869,
   'non-licensed': 0.006900050735667174},
  'madhya pradesh': {'regular': 0.8304676498925369,
   'learner': 0.112428666716075,
   'non-licensed': 0.057103683391388126},
  'maharashtra': {'regular': 0.9254476152264406,
   'learner': 0.03365264055368875,
   'non-licensed': 0.0408997442198706},
  'manipur': {'regular': 0.7695167286245354,
   'learner': 0.09851301115241635,
   'non-licensed': 0.13197026022304834},
  'meghalaya': {'regular': 0.6048387096774194,
   'learner': 0.24838709677419354,
   'non-licensed': 0.14677419354838708},
  'mizoram': {'regular': 0.8795180722891566,
   'learner': 0.0,
   'non-licensed': 0.12048192771084337},
  'nagaland': {'regular': 1.0, 'learner': 0.0, 'non-licensed': 0.0},
  'orissa': {'regular': 0.8098176984428409,
   'learner': 0.09542347132548423,
   'non-licensed': 0.09475883023167489},
  'punjab': {'regular': 0.8735615650172612,
   'learner': 0.07163406214039125,
   'non-licensed': 0.05480437284234753},
  'rajasthan': {'regular': 0.9533946067805428,
   'learner': 0.022587358016127632,
   'non-licensed': 0.024018035203329575},
  'sikkim': {'regular': 0.7476190476190476,
   'learner': 0.21428571428571427,
   'non-licensed': 0.0380952380952381},
  'tamil nadu': {'regular': 0.8878638126303706,
   'learner': 0.03359885763884028,
   'non-licensed': 0.07853732973078915},
  'telangana': {'regular': 0.7299110078470913,
   'learner': 0.24996712112577266,
   'non-licensed': 0.020121871027136033},
  'tripura': {'regular': 0.8940754039497307,
   'learner': 0.06463195691202872,
   'non-licensed': 0.04129263913824058},
  'uttarakhand': {'regular': 0.38529226901319924,
   'learner': 0.45757385292269015,
   'non-licensed': 0.1571338780641106},
  'uttar pradesh': {'regular': 0.7851286083342693,
   'learner': 0.12992811411883634,
   'non-licensed': 0.0849432775468943},
  'west bengal': {'regular': 0.6587628865979381,
   'learner': 0.1426362297496318,
   'non-licensed': 0.19860088365243003},
  'a & n islands': {'regular': 1.0, 'learner': 0.0, 'non-licensed': 0.0},
  'chandigarh': {'regular': 0.8735615650172612,
   'learner': 0.07163406214039125,
   'non-licensed': 0.05480437284234753},
  'd & n haveli': {'regular': 0.8857142857142857,
   'learner': 0.0,
   'non-licensed': 0.11428571428571428},
  'daman & diu': {'regular': 0.9014084507042254,
   'learner': 0.0,
   'non-licensed': 0.09859154929577464},
  'delhi': {'regular': 0.9203056768558951,
   'learner': 0.040211062590975254,
   'non-licensed': 0.03948326055312955},
  'lakshadweep': {'regular': 1.0, 'learner': 0.0, 'non-licensed': 0.0},
  'puducherry': {'regular': 0.7242355605889015,
   'learner': 0.07021517553793885,
   'non-licensed': 0.2055492638731597},
  'total': {'regular': 0.8464327206773484,
   'learner': 0.08651780714291685,
   'non-licensed': 0.06704947217973471}},
 {'regular': 0.7, 'learner': 0.15, 'non-licensed': 0.15})

In [53]:
Probs['Type of Licence'] = Bayesian_Probability(d1, d2)

# Types of Junction

In [54]:
acc_by_junc = pd.read_csv("./accident-datasets/type-of-junction/Road_Accidents_2017-Tables_3.5.csv")
acc_by_junc

,Junction type,Number of accidents,Percentage Share to Total - Accident,Persons killed,Percentage Share to Total - Killed,Persons injured,Percentage Share to Total - Injured
0,T-Junction,56363,32.1,16939,31.4,57072,32.8
1,Y-Junction,31249,17.8,9806,18.2,31108,17.9
2,Four arm Junction,34630,19.7,9832,18.2,32341,18.6
3,Staggered Junction,26695,15.2,8790,16.3,26526,15.2
4,Round about Junction,26916,15.3,8607,15.9,27032,15.5
5,Total,175853,100.0,53974,100.0,174079,100.0

In [55]:
acc_by_junc = acc_by_junc.drop([5], axis=0)
acc_by_junc

,Junction type,Number of accidents,Percentage Share to Total - Accident,Persons killed,Percentage Share to Total - Killed,Persons injured,Percentage Share to Total - Injured
0,T-Junction,56363,32.1,16939,31.4,57072,32.8
1,Y-Junction,31249,17.8,9806,18.2,31108,17.9
2,Four arm Junction,34630,19.7,9832,18.2,32341,18.6
3,Staggered Junction,26695,15.2,8790,16.3,26526,15.2
4,Round about Junction,26916,15.3,8607,15.9,27032,15.5

In [56]:
junction = pd.read_csv("./accident-datasets/type-of-junction/junction.csv", header=None)
junction

                      0     1
0            T-junction  0.20
1            Y-junction  0.12
2     Four arm Junction  0.30
3    Staggered Junction  0.13
4  Round about Junction  0.25

In [57]:
d1 = {i[1][0].lower() : i[1][2]/100. for i in acc_by_junc.iterrows()}
d2 = {i[1][0].lower() : i[1][1] for i in junction.iterrows()}
d1, d2

({'t-junction': 0.321,
  'y-junction': 0.17800000000000002,
  'four arm junction': 0.19699999999999998,
  'staggered junction': 0.152,
  'round about junction': 0.153},
 {'t-junction': 0.2,
  'y-junction': 0.12,
  'four arm junction': 0.3,
  'staggered junction': 0.13,
  'round about junction': 0.25})

In [58]:
Probs['Type of Junction'] = Bayesian_Probability(d1, d2)

# Type of Vehicle

In [59]:
acc_by_veh = pd.read_csv("./accident-datasets/type-of-vehicle/roadac2012_AnnexureXIV.csv")
acc_by_veh.head()

,States/UTs,Number of Total Road Accidents of Two-Wheelers,Number of Fatal Road Accidents of Two-Wheelers,Number of Persons Killed from accidents of Two-Wheelers,Number of Persons Injured from accidents of Two-Wheelers,Number of Total Road Accidents of Auto-Rickshaws,Number of Fatal Road Accidents of Auto-Rickshaws,Number of Persons Killed from accidents of Auto-Rickshaws,Number of Persons Injured from accidents of Auto-Rickshaws,"Number of Total Road Accidents of Cars, Jeeps, Taxis",...,"Number of Persons Killed from accidents of Trucks, Tempos, MAVs, Tractors","Number of Persons Injured from accidents of Trucks, Tempos, MAVs, Tractors",Number of Total Road Accidents of Other Motor Vehicles,Number of Fatal Road Accidents of Other Motor Vehicles,Number of Persons Killed from accidents of Other Motor Vehicles,Number of Persons Injured from accidents of Other Motor Vehicles,Number of Total Road Accidents of Other Vehicles/Objects,Number of Fatal Road Accidents of Other Vehicles/Objects,Number of Persons Killed from accidents of Other Vehicles/Objects,Number of Persons Injured from accidents of Other Vehicles/Objects
0,Andhra Pradesh,9204,2724,2901,9639,6556,1488,1630,9163,7584,...,4612,11947,3552,1400,1525,4004,2049,719,784,3184
1,Arunachal Pradesh,40,13,13,21,27,6,6,37,41,...,25,77,41,10,50,118,41,25,13,17
2,Assam,1278,432,457,906,286,57,53,422,1454,...,652,1639,838,240,279,907,351,145,157,240
3,Bihar,1803,724,733,1253,376,137,146,318,1900,...,1754,2138,904,478,491,475,809,356,388,411
4,Chhattisgarh,3325,524,610,3688,333,33,37,338,2234,...,877,2645,3725,853,927,2330,502,116,146,448

In [60]:
acc_by_veh = acc_by_veh.drop([c for c in acc_by_veh.columns
                              if set(c.split()) & {'Fatal', 'Killed', 'Injured', 'Unnamed:'}],
                             axis=1)
acc_by_veh.head()

,States/UTs,Number of Total Road Accidents of Two-Wheelers,Number of Total Road Accidents of Auto-Rickshaws,"Number of Total Road Accidents of Cars, Jeeps, Taxis",Number of Total Road Accidents of Buses,"Number of Total Road Accidents of Trucks, Tempos, MAVs, Tractors",Number of Total Road Accidents of Other Motor Vehicles,Number of Total Road Accidents of Other Vehicles/Objects
0,Andhra Pradesh,9204,6556,7584,3497,10082,3552,2049
1,Arunachal Pradesh,40,27,41,11,50,41,41
2,Assam,1278,286,1454,634,1694,838,351
3,Bihar,1803,376,1900,1285,3243,904,809
4,Chhattisgarh,3325,333,2234,747,2645,3725,502

In [61]:
s = len("Number of Total Road Accidents of ")
s

34

In [62]:
acc_by_veh = acc_by_veh.rename(columns={
    c:c[s:].lower() for c in acc_by_veh.columns if 'State' not in c
})
acc_by_veh

,States/UTs,two-wheelers,auto-rickshaws,"cars, jeeps, taxis",buses,"trucks, tempos, mavs, tractors",other motor vehicles,other vehicles/objects
0,Andhra Pradesh,9204,6556,7584,3497,10082,3552,2049
1,Arunachal Pradesh,40,27,41,11,50,41,41
2,Assam,1278,286,1454,634,1694,838,351
3,Bihar,1803,376,1900,1285,3243,904,809
4,Chhattisgarh,3325,333,2234,747,2645,3725,502
5,Goa,1884,56,1527,204,391,0,250
6,Gujarat,6431,2750,4995,1275,6686,1843,3969
7,Haryana,1084,389,2590,633,2825,1249,1295
8,Himachal Pradesh,697,25,1114,207,653,184,19
9,Jammu and Kashmir,1144,176,314,1235,1891,1608,341
10,Jharkhand,1341,288,748,520,1703,413,698
11,Karnataka,10588,3430,8515,3932,11317,2555,4111
12,Kerala,12019,4999,8693,4847,3956,1628,32
13,Madhya Pradesh,16693,2358,11474,3939,11433,3821,1492
14,Maharashtra,15111,5208,15903,3892,13158,9652,3392
15,Manipur,175,52,232,60,142,110,0
16,Meghalaya,31,17,123,36,99,137,40
17,Mizoram,27,7,23,3,26,24,0
18,Nagaland,6,12,8,4,5,7,0
19,Odisha,2191,407,1671,719,3000,793,504
20,Punjab,1498,200,1584,556,1567,599,337
21,Rajasthan,4968,430,6484,1857,6366,2814,50
22,Sikkim,4,0,130,0,0,24,0
23,Tamil Nadu,21947,3260,15375,7479,14777,175,4744
24,Tripura,151,129,243,49,156,109,51
25,Uttarakhand,219,12,433,179,441,175,13
26,Uttar Pradesh,5252,1038,6281,2526,7806,1874,5195
27,West Bengal,2254,303,1765,2119,3497,1439,913
28,Andaman and Nicobar Islands,102,16,73,18,27,0,0
29,Chandigarh,58,11,235,27,57,31,0
30,Dadra and Nagar Haveli,28,0,11,4,27,15,0
31,Daman and Diu,12,3,7,3,16,9,0
32,Delhi,956,155,2024,500,1183,2118,1
33,Lakshadweep,3,0,0,0,0,0,0
34,Puducherry,444,18,206,138,256,82,37
35,Total,122968,33327,105994,43135,111175,42548,31236

In [63]:
acc_by_veh['Total'] = acc_by_veh[[c for c in acc_by_veh.columns
                                  if 'State' not in c]].sum(axis=1)
for c in acc_by_veh.columns:
    if 'State' in c:
        continue
    acc_by_veh[c] /= acc_by_veh['Total']
acc_by_veh = acc_by_veh.drop(['Total'], axis=1).fillna(0)
acc_by_veh.head()

,States/UTs,two-wheelers,auto-rickshaws,"cars, jeeps, taxis",buses,"trucks, tempos, mavs, tractors",other motor vehicles,other vehicles/objects
0,Andhra Pradesh,0.216442,0.154172,0.178346,0.082236,0.237090,0.083529,0.048185
1,Arunachal Pradesh,0.159363,0.107570,0.163347,0.043825,0.199203,0.163347,0.163347
2,Assam,0.195562,0.043764,0.222494,0.097016,0.259220,0.128233,0.053711
3,Bihar,0.174709,0.036434,0.184109,0.124516,0.314244,0.087597,0.078391
4,Chhattisgarh,0.246096,0.024647,0.165347,0.055288,0.195766,0.275701,0.037155

In [64]:
vehicles = pd.read_csv("./accident-datasets/type-of-vehicle/counts_of_types_of_vehicles2011.csv")
vehicles.head()

,STATES/UTs,TRANSPORT-Multi-axled/ Articulated Vehicles/ Trucks and Lorries,TRANSPORT-Light Motor Vehicle (Goods),TRANSPORT-Buses,TRANSPORT-Taxis,TRANSPORT-Light Motor Vehicle (Passenger),Total Transport,NON-TRANSPORT-Two Wheelers,NON-TRANSPORT-Cars,NON-TRANSPORT-Jeeps,NON-TRANSPORT-Omni Buses,NON-TRANSPORT-Tractors,NON-TRANSPORT-Trailers,NON-TRANSPORT-Others,Total Non Transport,Grand Total (Transport + Non-Transport)
0,Andhra Pradesh,253415,302124.0,70075,129322,576480.0,1331416,9291132,1058184,30400.0,60897.0,342416.0,289422.0,20461.0,11092912,12424328
1,Assam,144183,47296.0,15787,33999,67921.0,309186,1101265,311917,20968.0,1248.0,19655.0,15290.0,27591.0,1497934,1807120
2,Bihar,83191,NaN,24097,52218,113088.0,272594,2230069,160340,84949.0,NaN,219509.0,126618.0,18801.0,2840286,3112880
3,Chhattisgarh,91068,50373.0,12049,13515,17913.0,184918,2503781,154529,16561.0,33739.0,115524.0,85129.0,9857.0,2919120,3104038
4,Goa,42395,11447.0,9513,14338,3853.0,100749,589377,167544,NaN,0.0,3114.0,NaN,4825.0,764860,865609

In [65]:
vehicles = vehicles.fillna(0)

In [66]:
vehicles["trucks, tempos, mavs, tractors"] =\
vehicles['TRANSPORT-Multi-axled/ Articulated Vehicles/ Trucks and Lorries'] \
+ vehicles['TRANSPORT-Light Motor Vehicle (Goods)'] \
+ vehicles['NON-TRANSPORT-Tractors'] \

In [67]:
vehicles['cars, jeeps, taxis'] = vehicles["TRANSPORT-Taxis"] \
+ vehicles['NON-TRANSPORT-Cars'] \
+ vehicles['NON-TRANSPORT-Jeeps'] \

In [68]:
vehicles['auto-rickshaws'] = vehicles['TRANSPORT-Light Motor Vehicle (Passenger)']
vehicles['two-wheelers'] = vehicles['NON-TRANSPORT-Two Wheelers']
vehicles['buses'] = vehicles['TRANSPORT-Buses'] + vehicles['NON-TRANSPORT-Omni Buses']

In [69]:
vehicles['other motor vehicles'] = vehicles['NON-TRANSPORT-Others']
vehicles['other vehicles/objects'] = vehicles['NON-TRANSPORT-Trailers']

In [70]:
vehicles['Total'] = vehicles[[c for c in acc_by_veh.columns if 'State' not in c]].sum(axis=1)
for c in acc_by_veh.columns:
    if 'State' not in c:
        vehicles[c] /= vehicles['Total']

In [71]:
vehicles = vehicles.drop([c for c in vehicles.columns
                         if c != "STATES/UTs" and c not in acc_by_veh.columns], axis=1)
vehicles.head()

,STATES/UTs,"trucks, tempos, mavs, tractors","cars, jeeps, taxis",auto-rickshaws,two-wheelers,buses,other motor vehicles,other vehicles/objects
0,Andhra Pradesh,0.072274,0.098026,0.046399,0.747818,0.010542,0.001647,0.023295
1,Assam,0.116835,0.203021,0.037585,0.609403,0.009427,0.015268,0.008461
2,Bihar,0.097241,0.095573,0.036329,0.716401,0.007741,0.006040,0.040676
3,Chhattisgarh,0.082784,0.059473,0.005771,0.806621,0.014751,0.003176,0.027425
4,Goa,0.067292,0.214887,0.004552,0.696329,0.011239,0.005701,0.000000

In [72]:
d1 = {i[1][0].lower():{ acc_by_veh.columns[j]:i[1][j] for j in range(1, acc_by_veh.shape[1]) }
     for i in acc_by_veh.iterrows()}
d2 = {i[1][0].lower():{ vehicles.columns[j]:i[1][j] for j in range(1, vehicles.shape[1]) }
     for i in vehicles.iterrows()}
d1, d2

({'andhra pradesh': {'two-wheelers': 0.2164424795409651,
   'auto-rickshaws': 0.15417176182861442,
   'cars, jeeps, taxis': 0.17834634559307685,
   'buses': 0.0822359138368921,
   'trucks, tempos, mavs, tractors': 0.23708964349543787,
   'other motor vehicles': 0.08352930110055498,
   'other vehicles/objects': 0.04818455460445866},
  'arunachal pradesh': {'two-wheelers': 0.1593625498007968,
   'auto-rickshaws': 0.10756972111553785,
   'cars, jeeps, taxis': 0.16334661354581673,
   'buses': 0.043824701195219126,
   'trucks, tempos, mavs, tractors': 0.199203187250996,
   'other motor vehicles': 0.16334661354581673,
   'other vehicles/objects': 0.16334661354581673},
  'assam': {'two-wheelers': 0.19556235654169854,
   'auto-rickshaws': 0.04376434583014537,
   'cars, jeeps, taxis': 0.22249426166794184,
   'buses': 0.09701606732976281,
   'trucks, tempos, mavs, tractors': 0.25921958684009183,
   'other motor vehicles': 0.12823259372609028,
   'other vehicles/objects': 0.05371078806426932},
  'bihar': {'two-wheelers': 0.1747093023255814,
   'auto-rickshaws': 0.03643410852713178,
   'cars, jeeps, taxis': 0.18410852713178294,
   'buses': 0.12451550387596899,
   'trucks, tempos, mavs, tractors': 0.3142441860465116,
   'other motor vehicles': 0.08759689922480621,
   'other vehicles/objects': 0.07839147286821706},
  'chhattisgarh': {'two-wheelers': 0.24609577381392939,
   'auto-rickshaws': 0.02464658426467323,
   'cars, jeeps, taxis': 0.16534675449633632,
   'buses': 0.05528828362075346,
   'trucks, tempos, mavs, tractors': 0.1957664125527348,
   'other motor vehicles': 0.2757012804381615,
   'other vehicles/objects': 0.037154910813411296},
  'goa': {'two-wheelers': 0.43692022263450836,
   'auto-rickshaws': 0.012987012987012988,
   'cars, jeeps, taxis': 0.35412801484230055,
   'buses': 0.04730983302411874,
   'trucks, tempos, mavs, tractors': 0.09067717996289425,
   'other motor vehicles': 0.0,
   'other vehicles/objects': 0.05797773654916512},
  'gujarat': {'two-wheelers': 0.23009767791334215,
   'auto-rickshaws': 0.09839350245089269,
   'cars, jeeps, taxis': 0.17871837990625783,
   'buses': 0.04561880568177752,
   'trucks, tempos, mavs, tractors': 0.23922143904969767,
   'other motor vehicles': 0.06594153636981645,
   'other vehicles/objects': 0.14200865862821568},
  'haryana': {'two-wheelers': 0.10769995032290114,
   'auto-rickshaws': 0.03864878291107799,
   'cars, jeeps, taxis': 0.25732737208147044,
   'buses': 0.06289120715350223,
   'trucks, tempos, mavs, tractors': 0.280675608544461,
   'other motor vehicles': 0.12409339294585196,
   'other vehicles/objects': 0.12866368604073522},
  'himachal pradesh': {'two-wheelers': 0.2404277337012763,
   'auto-rickshaws': 0.008623663332183512,
   'cars, jeeps, taxis': 0.38427043808209727,
   'buses': 0.07140393239047947,
   'trucks, tempos, mavs, tractors': 0.2252500862366333,
   'other motor vehicles': 0.06347016212487064,
   'other vehicles/objects': 0.006553984132459468},
  'jammu and kashmir': {'two-wheelers': 0.17051721568042927,
   'auto-rickshaws': 0.02623341779698912,
   'cars, jeeps, taxis': 0.04680280220599195,
   'buses': 0.18408108510955434,
   'trucks, tempos, mavs, tractors': 0.2818601878074229,
   'other motor vehicles': 0.23967804441794605,
   'other vehicles/objects': 0.05082724698166642},
  'jharkhand': {'two-wheelers': 0.23481001575906146,
   'auto-rickshaws': 0.05042899667308703,
   'cars, jeeps, taxis': 0.13097531080371214,
   'buses': 0.09105235510418491,
   'trucks, tempos, mavs, tractors': 0.29819646296620556,
   'other motor vehicles': 0.07231658203466994,
   'other vehicles/objects': 0.12222027665907897},
  'karnataka': {'two-wheelers': 0.23821094312455005,
   'auto-rickshaws': 0.07716882649388049,
   'cars, jeeps, taxis': 0.1915721742260619,
   'buses': 0.0884629229661627,
   'trucks, tempos, mavs, tractors': 0.25461213102951763,
   'other motor vehicles': 0.05748290136789057,
   'other vehicles/objects': 0.09249010079193665},
  'kerala': {'two-wheelers': 0.33225521092497373,
   'auto-rickshaws': 0.1381931774202466,
   'cars, jeeps, taxis': 0.2403107204069221,
   'buses': 0.13399126444407586,
   'trucks, tempos, mavs, tractors': 0.10936031403770664,
   'other motor vehicles': 0.04500469950793388,
   'other vehicles/objects': 0.0008846132581412063},
  'madhya pradesh': {'two-wheelers': 0.32597148994337044,
   'auto-rickshaws': 0.04604569420035149,
   'cars, jeeps, taxis': 0.22405780121070104,
   'buses': 0.0769185705916813,
   'trucks, tempos, mavs, tractors': 0.2232571763327475,
   'other motor vehicles': 0.07461433313805897,
   'other vehicles/objects': 0.02913493458308924},
  'maharashtra': {'two-wheelers': 0.22786356233789734,
   'auto-rickshaws': 0.07853308402195548,
   'cars, jeeps, taxis': 0.23980638156704265,
   'buses': 0.058688702575547376,
   'trucks, tempos, mavs, tractors': 0.19841365582966403,
   'other motor vehicles': 0.14554556969660415,
   'other vehicles/objects': 0.05114904397128898},
  'manipur': {'two-wheelers': 0.22697795071335927,
   'auto-rickshaws': 0.06744487678339818,
   'cars, jeeps, taxis': 0.3009079118028534,
   'buses': 0.07782101167315175,
   'trucks, tempos, mavs, tractors': 0.18417639429312582,
   'other motor vehicles': 0.14267185473411154,
   'other vehicles/objects': 0.0},
  'meghalaya': {'two-wheelers': 0.06418219461697723,
   'auto-rickshaws': 0.035196687370600416,
   'cars, jeeps, taxis': 0.2546583850931677,
   'buses': 0.07453416149068323,
   'trucks, tempos, mavs, tractors': 0.20496894409937888,
   'other motor vehicles': 0.2836438923395445,
   'other vehicles/objects': 0.08281573498964803},
  'mizoram': {'two-wheelers': 0.24545454545454545,
   'auto-rickshaws': 0.06363636363636363,
   'cars, jeeps, taxis': 0.20909090909090908,
   'buses': 0.02727272727272727,
   'trucks, tempos, mavs, tractors': 0.23636363636363636,
   'other motor vehicles': 0.21818181818181817,
   'other vehicles/objects': 0.0},
  'nagaland': {'two-wheelers': 0.14285714285714285,
   'auto-rickshaws': 0.2857142857142857,
   'cars, jeeps, taxis': 0.19047619047619047,
   'buses': 0.09523809523809523,
   'trucks, tempos, mavs, tractors': 0.11904761904761904,
   'other motor vehicles': 0.16666666666666666,
   'other vehicles/objects': 0.0},
  'odisha': {'two-wheelers': 0.23597199784598816,
   'auto-rickshaws': 0.04383414108777598,
   'cars, jeeps, taxis': 0.17996768982229402,
   'buses': 0.07743672590199246,
   'trucks, tempos, mavs, tractors': 0.32310177705977383,
   'other motor vehicles': 0.08540656973613354,
   'other vehicles/objects': 0.054281098546042},
  'punjab': {'two-wheelers': 0.23624034064027755,
   'auto-rickshaws': 0.03154076644062451,
   'cars, jeeps, taxis': 0.2498028702097461,
   'buses': 0.08768333070493613,
   'trucks, tempos, mavs, tractors': 0.247121905062293,
   'other motor vehicles': 0.0944645954896704,
   'other vehicles/objects': 0.05314619145245229},
  'rajasthan': {'two-wheelers': 0.2162915233575689,
   'auto-rickshaws': 0.01872088467064304,
   'cars, jeeps, taxis': 0.28229352605685926,
   'buses': 0.08084809961252122,
   'trucks, tempos, mavs, tractors': 0.277156167007706,
   'other motor vehicles': 0.12251295223997562,
   'other vehicles/objects': 0.002176847054725935},
  'sikkim': {'two-wheelers': 0.02531645569620253,
   'auto-rickshaws': 0.0,
   'cars, jeeps, taxis': 0.8227848101265823,
   'buses': 0.0,
   'trucks, tempos, mavs, tractors': 0.0,
   'other motor vehicles': 0.1518987341772152,
   'other vehicles/objects': 0.0},
  'tamil nadu': {'two-wheelers': 0.32390749295275767,
   'auto-rickshaws': 0.04811311008456691,
   'cars, jeeps, taxis': 0.22691382440190683,
   'buses': 0.11037973936272268,
   'trucks, tempos, mavs, tractors': 0.2180881680121611,
   'other motor vehicles': 0.0025827589769322726,
   'other vehicles/objects': 0.07001490620895258},
  'tripura': {'two-wheelers': 0.17004504504504506,
   'auto-rickshaws': 0.14527027027027026,
   'cars, jeeps, taxis': 0.27364864864864863,
   'buses': 0.05518018018018018,
   'trucks, tempos, mavs, tractors': 0.17567567567567569,
   'other motor vehicles': 0.12274774774774774,
   'other vehicles/objects': 0.057432432432432436},
  'uttarakhand': {'two-wheelers': 0.1487771739130435,
   'auto-rickshaws': 0.008152173913043478,
   'cars, jeeps, taxis': 0.29415760869565216,
   'buses': 0.12160326086956522,
   'trucks, tempos, mavs, tractors': 0.29959239130434784,
   'other motor vehicles': 0.11888586956521739,
   'other vehicles/objects': 0.008831521739130434},
  'uttar pradesh': {'two-wheelers': 0.17523021486720938,
   'auto-rickshaws': 0.03463232350193514,
   'cars, jeeps, taxis': 0.20956225810756707,
   'buses': 0.0842786600827439,
   'trucks, tempos, mavs, tractors': 0.2604430802081943,
   'other motor vehicles': 0.06252502335513145,
   'other vehicles/objects': 0.17332843987721874},
  'west bengal': {'two-wheelers': 0.18340113913751016,
   'auto-rickshaws': 0.02465419039869813,
   'cars, jeeps, taxis': 0.1436126932465419,
   'buses': 0.1724165988608625,
   'trucks, tempos, mavs, tractors': 0.28454027664768106,
   'other motor vehicles': 0.11708706265256306,
   'other vehicles/objects': 0.0742880390561432},
  'andaman and nicobar islands': {'two-wheelers': 0.4322033898305085,
   'auto-rickshaws': 0.06779661016949153,
   'cars, jeeps, taxis': 0.3093220338983051,
   'buses': 0.07627118644067797,
   'trucks, tempos, mavs, tractors': 0.11440677966101695,
   'other motor vehicles': 0.0,
   'other vehicles/objects': 0.0},
  'chandigarh': {'two-wheelers': 0.13842482100238662,
   'auto-rickshaws': 0.026252983293556086,
   'cars, jeeps, taxis': 0.5608591885441527,
   'buses': 0.06443914081145585,
   'trucks, tempos, mavs, tractors': 0.1360381861575179,
   'other motor vehicles': 0.07398568019093078,
   'other vehicles/objects': 0.0},
  'dadra and nagar haveli': {'two-wheelers': 0.32941176470588235,
   'auto-rickshaws': 0.0,
   'cars, jeeps, taxis': 0.12941176470588237,
   'buses': 0.047058823529411764,
   'trucks, tempos, mavs, tractors': 0.3176470588235294,
   'other motor vehicles': 0.17647058823529413,
   'other vehicles/objects': 0.0},
  'daman and diu': {'two-wheelers': 0.24,
   'auto-rickshaws': 0.06,
   'cars, jeeps, taxis': 0.14,
   'buses': 0.06,
   'trucks, tempos, mavs, tractors': 0.32,
   'other motor vehicles': 0.18,
   'other vehicles/objects': 0.0},
  'delhi': {'two-wheelers': 0.13781173417903994,
   'auto-rickshaws': 0.02234395271731296,
   'cars, jeeps, taxis': 0.2917687761280092,
   'buses': 0.0720772668300418,
   'trucks, tempos, mavs, tractors': 0.1705348133198789,
   'other motor vehicles': 0.30531930229205706,
   'other vehicles/objects': 0.00014415453366008361},
  'lakshadweep': {'two-wheelers': 1.0,
   'auto-rickshaws': 0.0,
   'cars, jeeps, taxis': 0.0,
   'buses': 0.0,
   'trucks, tempos, mavs, tractors': 0.0,
   'other motor vehicles': 0.0,
   'other vehicles/objects': 0.0},
  'puducherry': {'two-wheelers': 0.37595258255715497,
   'auto-rickshaws': 0.015241320914479255,
   'cars, jeeps, taxis': 0.17442845046570704,
   'buses': 0.11685012701100762,
   'trucks, tempos, mavs, tractors': 0.21676545300592717,
   'other motor vehicles': 0.06943268416596104,
   'other vehicles/objects': 0.03132938187976291},
  'total': {'two-wheelers': 0.2507591005397822,
   'auto-rickshaws': 0.06796116504854369,
   'cars, jeeps, taxis': 0.21614533945915743,
   'buses': 0.08796185838416096,
   'trucks, tempos, mavs, tractors': 0.22671055073279456,
   'other motor vehicles': 0.08676483483318141,
   'other vehicles/objects': 0.06369715100237977}},
 {'andhra pradesh': {'trucks, tempos, mavs, tractors': 0.07227392902054743,
   'cars, jeeps, taxis': 0.09802590530449615,
   'auto-rickshaws': 0.04639929016684041,
   'two-wheelers': 0.7478176686900089,
   'buses': 0.010541576172168023,
   'other motor vehicles': 0.0016468496324308244,
   'other vehicles/objects': 0.023294781013508337},
  'assam': {'trucks, tempos, mavs, tractors': 0.11683452122714595,
   'cars, jeeps, taxis': 0.20302138208862722,
   'auto-rickshaws': 0.03758521846916641,
   'two-wheelers': 0.6094033600424985,
   'buses': 0.009426601443180308,
   'other motor vehicles': 0.015267940147859578,
   'other vehicles/objects': 0.00846097658152198},
  'bihar': {'trucks, tempos, mavs, tractors': 0.09724114003752152,
   'cars, jeeps, taxis': 0.09557290997404333,
   'auto-rickshaws': 0.036329058620955514,
   'two-wheelers': 0.7164005679627868,
   'buses': 0.007741062938500681,
   'other motor vehicles': 0.006039744545244276,
   'other vehicles/objects': 0.040675515920947806},
  'chhattisgarh': {'trucks, tempos, mavs, tractors': 0.08278410251420891,
   'cars, jeeps, taxis': 0.059472532230597695,
   'auto-rickshaws': 0.0057708700731112185,
   'two-wheelers': 0.8066206019385072,
   'buses': 0.014751108072774882,
   'other motor vehicles': 0.0031755410210828603,
   'other vehicles/objects': 0.02742524414971724},
  'goa': {'trucks, tempos, mavs, tractors': 0.06729158347176178,
   'cars, jeeps, taxis': 0.21488741809486228,
   'auto-rickshaws': 0.004552188902252583,
   'two-wheelers': 0.6963289485187959,
   'buses': 0.011239287056093648,
   'other motor vehicles': 0.00570057395623377,
   'other vehicles/objects': 0.0},
  'gujarat': {'trucks, tempos, mavs, tractors': 0.08641955437310168,
   'cars, jeeps, taxis': 0.11537114264141582,
   'auto-rickshaws': 0.03897259811608623,
   'two-wheelers': 0.7293263770892685,
   'buses': 0.004686230484475309,
   'other motor vehicles': 0.0031958446249499696,
   'other vehicles/objects': 0.0220282526707025},
  'haryana': {'trucks, tempos, mavs, tractors': 0.15628518043328074,
   'cars, jeeps, taxis': 0.189778040216724,
   'auto-rickshaws': 0.017395966283658214,
   'two-wheelers': 0.6281833221536572,
   'buses': 0.006549394373807106,
   'other motor vehicles': 0.0018080965388726537,
   'other vehicles/objects': 0.0},
  'himachal pradesh': {'trucks, tempos, mavs, tractors': 0.15988373671606454,
   'cars, jeeps, taxis': 0.2838920233938453,
   'auto-rickshaws': 0.005380095682347639,
   'two-wheelers': 0.5224408230202389,
   'buses': 0.019809829976486688,
   'other motor vehicles': 0.00829482327003383,
   'other vehicles/objects': 0.00029866794098321487},
  'jammu and kashmir': {'trucks, tempos, mavs, tractors': 0.11502697137522386,
   'cars, jeeps, taxis': 0.30627725221344143,
   'auto-rickshaws': 0.015006031205215847,
   'two-wheelers': 0.5243931167916169,
   'buses': 0.031030714430612782,
   'other motor vehicles': 0.0046788192361636735,
   'other vehicles/objects': 0.003587094747725483},
  'jharkhand': {'trucks, tempos, mavs, tractors': 0.14061722289554043,
   'cars, jeeps, taxis': 0.20022421975066074,
   'auto-rickshaws': 0.06461240306369888,
   'two-wheelers': 0.5902221439961431,
   'buses': 0.0043240102939568125,
   'other motor vehicles': 0.0,
   'other vehicles/objects': 0.0},
  'karnataka': {'trucks, tempos, mavs, tractors': 0.0758451699484958,
   'cars, jeeps, taxis': 0.13474918396313956,
   'auto-rickshaws': 0.02644451426522956,
   'two-wheelers': 0.7169066233683085,
   'buses': 0.016279968953120304,
   'other motor vehicles': 0.006466864534777222,
   'other vehicles/objects': 0.02330767496692907},
  'kerala': {'trucks, tempos, mavs, tractors': 0.06075696770323458,
   'cars, jeeps, taxis': 0.20624791058159672,
   'auto-rickshaws': 0.08874138008870198,
   'two-wheelers': 0.5622941010020062,
   'buses': 0.059104759639798284,
   'other motor vehicles': 0.022315504908233776,
   'other vehicles/objects': 0.0005393760764285278},
  'madhya pradesh': {'trucks, tempos, mavs, tractors': 0.09365399177496411,
   'cars, jeeps, taxis': 0.07352631499458692,
   'auto-rickshaws': 0.010568064793430481,
   'two-wheelers': 0.7872089678013409,
   'buses': 0.004979151315685266,
   'other motor vehicles': 0.002555082728615686,
   'other vehicles/objects': 0.027508426591376714},
  'maharashtra': {'trucks, tempos, mavs, tractors': 0.07652780843254199,
   'cars, jeeps, taxis': 0.14959288786370323,
   'auto-rickshaws': 0.032936810920711074,
   'two-wheelers': 0.7164215917973117,
   'buses': 0.00612987788771524,
   'other motor vehicles': 0.0016754011517180027,
   'other vehicles/objects': 0.016715621946298755},
  'manipur': {'trucks, tempos, mavs, tractors': 0.07448618563044522,
   'cars, jeeps, taxis': 0.1496669354801117,
   'auto-rickshaws': 0.055257478219118694,
   'two-wheelers': 0.6942938519412837,
   'buses': 0.020850911091118435,
   'other motor vehicles': 0.0036080047360889044,
   'other vehicles/objects': 0.0018366329018333699},
  'meghalaya': {'trucks, tempos, mavs, tractors': 0.168886507579472,
   'cars, jeeps, taxis': 0.4125365831467319,
   'auto-rickshaws': 0.03408866895474558,
   'two-wheelers': 0.33215222632773445,
   'buses': 0.021866486046593914,
   'other motor vehicles': 0.016346790539686712,
   'other vehicles/objects': 0.014122737405035458},
  'mizoram': {'trucks, tempos, mavs, tractors': 0.1055975645683983,
   'cars, jeeps, taxis': 0.25634881665520964,
   'auto-rickshaws': 0.02901895315722282,
   'two-wheelers': 0.5919473632524797,
   'buses': 0.01120494942551311,
   'other motor vehicles': 0.005106550132573898,
   'other vehicles/objects': 0.0007758028086025729},
  'nagaland': {'trucks, tempos, mavs, tractors': 0.3772872967751738,
   'cars, jeeps, taxis': 0.3152001678617167,
   'auto-rickshaws': 0.052199929092895545,
   'two-wheelers': 0.22265554341613064,
   'buses': 0.02187628880897771,
   'other motor vehicles': 0.006902589556396472,
   'other vehicles/objects': 0.003878184488709129},
  'odisha': {'trucks, tempos, mavs, tractors': 0.08589209079081449,
   'cars, jeeps, taxis': 0.0764083298523625,
   'auto-rickshaws': 0.01977182568717025,
   'two-wheelers': 0.7838484726741571,
   'buses': 0.006807182595323171,
   'other motor vehicles': 0.007820344656022434,
   'other vehicles/objects': 0.019451753744149973},
  'punjab': {'trucks, tempos, mavs, tractors': 0.11488232601339403,
   'cars, jeeps, taxis': 0.11154746996577805,
   'auto-rickshaws': 0.010655380804443408,
   'two-wheelers': 0.7551716534361903,
   'buses': 0.00481563048913617,
   'other motor vehicles': 0.0027404067004324966,
   'other vehicles/objects': 0.00018713259062558328},
  'rajasthan': {'trucks, tempos, mavs, tractors': 0.12591628403074384,
   'cars, jeeps, taxis': 0.10405256125494937,
   'auto-rickshaws': 0.014951347051319919,
   'two-wheelers': 0.7378286386099883,
   'buses': 0.00927552212581234,
   'other motor vehicles': 0.0,
   'other vehicles/objects': 0.007975646927186289},
  'sikkim': {'trucks, tempos, mavs, tractors': 0.11429824156551438,
   'cars, jeeps, taxis': 0.6654128398024646,
   'auto-rickshaws': 0.0,
   'two-wheelers': 0.17185120228919554,
   'buses': 0.0483915632067199,
   'other motor vehicles': 0.0,
   'other vehicles/objects': 4.615313610559837e-05},
  'tamil nadu': {'trucks, tempos, mavs, tractors': 0.05787753539922014,
   'cars, jeeps, taxis': 0.1057564767053628,
   'auto-rickshaws': 0.017343079423173847,
   'two-wheelers': 0.7952090964934568,
   'buses': 0.009430603101908496,
   'other motor vehicles': 0.01028247472698528,
   'other vehicles/objects': 0.00410073414989265},
  'tripura': {'trucks, tempos, mavs, tractors': 0.1010341889549403,
   'cars, jeeps, taxis': 0.15406085653566287,
   'auto-rickshaws': 0.0940318679058653,
   'two-wheelers': 0.6333574905248313,
   'buses': 0.01132123515067232,
   'other motor vehicles': 0.004446229029762313,
   'other vehicles/objects': 0.0017481318982655789},
  'uttarakhand': {'trucks, tempos, mavs, tractors': 0.07419604804339404,
   'cars, jeeps, taxis': 0.17951885868805073,
   'auto-rickshaws': 0.010453023290210459,
   'two-wheelers': 0.7215600437927336,
   'buses': 0.008365473191419582,
   'other motor vehicles': 0.001177612974481569,
   'other vehicles/objects': 0.0047289400197099455},
  'uttar pradesh': {'trucks, tempos, mavs, tractors': 0.09085374594196258,
   'cars, jeeps, taxis': 0.08855750956570922,
   'auto-rickshaws': 0.011372346000465904,
   'two-wheelers': 0.8034861667070458,
   'buses': 0.0037487842559478066,
   'other motor vehicles': 0.0009922776378068787,

In [73]:
Probs['Type of Vehicle'] = Bayesian_Probability(d1, d2)

# Priors for accident

In [79]:
priors = pd.read_csv("./accident-datasets/2014_an5.csv")
priors.head()

,Sl. No.,States/UTs,State/UT-Wise Total Number of Persons Injured in Road Accidents during - 2011,State/UT-Wise Total Number of Persons Injured in Road Accidents during - 2012,State/UT-Wise Total Number of Persons Injured in Road Accidents during - 2013,State/UT-Wise Total Number of Persons Injured in Road Accidents during - 2014,Share of States/UTs in Total Number of Persons Injured in Road Accidents - 2011,Share of States/UTs in Total Number of Persons Injured in Road Accidents - 2012,Share of States/UTs in Total Number of Persons Injured in Road Accidents - 2013,Share of States/UTs in Total Number of Persons Injured in Road Accidents - 2014,Total Number of Persons Injured in Road Accidents Per Lakh Population - 2011,Total Number of Persons Injured in Road Accidents Per Lakh Population - 2012,Total Number of Persons Injured in Road Accidents Per Lakh Population - 2013,Total Number of Persons Injured in Road Accidents Per Lakh Population - 2014,"Total Number of Persons Injured in Road Accidents per 10,000 Vehicles - 2011","Total Number of Persons Injured in Road Accidents per 10,000 Vehicles - 2012","Total Number of Persons Injured in Road Accidents per 10,000 Vehicles - 2013(P)","Total Number of Persons Injured in Road Accidents per 10,000 Km of Roads - 2011","Total Number of Persons Injured in Road Accidents per 10,000 Km of Roads - 2012","Total Number of Persons Injured in Road Accidents per 10,000 Km of Roads - 2013(P)"
0,1,Andhra Pradesh,55583.0,51552.0,49970.0,29931,10.9,10.1,10.1,6.1,65.7,60.3,58.0,34.4,54.6,41.5,39.4,2335.4,2010.2,1909.8
1,2,Arunachal Pradesh,438.0,399.0,405.0,308,0.1,0.1,0.1,0.1,31.7,31.8,31.9,24.0,30.3,26.4,26.8,203.2,266.4,144.2
2,3,Assam,6505.0,6709.0,6609.0,6499,1.3,1.3,1.3,1.3,20.9,21.7,21.1,20.5,41.1,37.1,35.2,269.0,236.0,229.4
3,4,Bihar,7083.0,7142.0,7086.0,6640,1.4,1.4,1.4,1.3,6.8,7.2,7.1,6.5,26.5,22.9,19.6,542.2,515.6,359.3
4,5,Chhattisgarh,13929.0,13517.0,12503.0,13157,2.7,2.7,2.5,2.7,54.5,55.0,50.2,52.1,50.4,43.5,36.4,1482.4,1784.6,1401.1

In [80]:
priors = priors.drop(columns=[c for c in priors.columns
                             if c != "Total Number of Persons Injured in Road Accidents per 10,000 Vehicles - 2012"
                             and c != "States/UTs"])
priors.head()

,States/UTs,"Total Number of Persons Injured in Road Accidents per 10,000 Vehicles - 2012"
0,Andhra Pradesh,41.5
1,Arunachal Pradesh,26.4
2,Assam,37.1
3,Bihar,22.9
4,Chhattisgarh,43.5

In [82]:
priors["Total Number of Persons Injured in Road Accidents per 10,000 Vehicles - 2012"] /= 10000
priors.head()

,States/UTs,"Total Number of Persons Injured in Road Accidents per 10,000 Vehicles - 2012"
0,Andhra Pradesh,0.00415
1,Arunachal Pradesh,0.00264
2,Assam,0.00371
3,Bihar,0.00229
4,Chhattisgarh,0.00435

In [83]:
d = {i[1][0].lower() : i[1][1] for i in priors.iterrows()}
d

{'andhra pradesh': 0.00415,
 'arunachal pradesh': 0.00264,
 'assam': 0.00371,
 'bihar': 0.00229,
 'chhattisgarh': 0.00435,
 'goa': 0.0024100000000000002,
 'gujarat': 0.0019199999999999998,
 'haryana': 0.00158,
 'himachal pradesh': 0.0071200000000000005,
 'jammu & kashmir': 0.01064,
 'jharkhand': 0.00158,
 'karnataka': 0.005379999999999999,
 'kerala': 0.0060799999999999995,
 'madhya pradesh': 0.00688,
 'maharashtra': 0.0022600000000000003,
 'manipur': 0.00648,
 'meghalaya': 0.0016300000000000002,
 'mizoram': 0.0016899999999999999,
 'nagaland': 0.00016999999999999999,
 'odisha': 0.00285,
 'punjab': 0.00064,
 'rajasthan': 0.00313,
 'sikkim': 0.00775,
 'tamil nadu': 0.0045,
 'telangana': nan,
 'tripura': 0.00606,
 'uttarakhand': 0.0012699999999999999,
 'uttar pradesh': 0.00143,
 'west bengal': 0.0035700000000000003,
 'andaman & nicobar islands': 0.00374,
 'chandigarh': 0.00033,
 'dadra & nagar haveli': 0.00144,
 'daman & diu': 0.00045999999999999996,
 'delhi': 0.0009,
 'lakshadweep': 0.0003,
 'puducherry': 0.00149,
 'total ': 0.0032}

In [84]:
Probs['Priors'] = Bayesian_Probability(d, None)

In [85]:
Probs

{'Type of Road': <__main__.Bayesian_Probability at 0x7f8f14d45828>,
 'Drinking': <__main__.Bayesian_Probability at 0x7f8f14a61940>,
 'Type of Location': <__main__.Bayesian_Probability at 0x7f8f14a6cef0>,
 'Type of Licence': <__main__.Bayesian_Probability at 0x7f8f13fb6f98>,
 'Type of Junction': <__main__.Bayesian_Probability at 0x7f8f14a6c1d0>,
 'Type of Vehicle': <__main__.Bayesian_Probability at 0x7f8f13fc3cc0>,
 'Priors': <__main__.Bayesian_Probability at 0x7f8f13b81160>}

In [86]:
# save dict as pickle
from pickle import dump, load
with open("./cleaned/Probs.dat", "wb") as fh:
    dump(Probs, fh)

In [87]:
# load pickle
with open("./cleaned/Probs.dat", "rb") as fh:
    Probs = load(fh)
Probs

{'Type of Road': <__main__.Bayesian_Probability at 0x7f8f13b81400>,
 'Drinking': <__main__.Bayesian_Probability at 0x7f8f13b870f0>,
 'Type of Location': <__main__.Bayesian_Probability at 0x7f8f13b87588>,
 'Type of Licence': <__main__.Bayesian_Probability at 0x7f8f13b87a20>,
 'Type of Junction': <__main__.Bayesian_Probability at 0x7f8f13b87e48>,
 'Type of Vehicle': <__main__.Bayesian_Probability at 0x7f8f13b87e80>,
 'Priors': <__main__.Bayesian_Probability at 0x7f8f13b19588>}